<div style="margin-left: 50px;margin-top: -15px;">
    <input placeholder="Search..." type="text" class="form-control col-auto" id="id_groupcs"
      style="width: 200px;" oninput="ctgroup()">
    <button class="btn col-auto" style="margin-left: 10px;" id="btrefresh"><i class="fa fa-refresh"></i> Làm
      mới</button>
    <button class="btn col-auto" style=" background-color: #c3fe3a;margin-left: 10px;" id="addspare"><i
        class="fa fa-plus"></i> Thêm</button>
    <button id="uploadex" class="btn col-auto"
      style="width: 110px;text-align: left;margin-left: 50px;background-color: red;"><i
        class="fa fa-upload"></i> Tải excel</button></a>
    <a href="" id="adownload" download style="display: none;">
      <button id="btdownload" class="btn-box"
        style="margin-left: 10px; background-color: rgb(255, 0, 0);border: solid rgb(255, 255, 255);width: 110px;text-align: left;"><i
          class="fa fa-download"></i> Xuất excel</button></a>
    </a>
    <button id="dowloadex" class="btn col-auto" style="width: 110px;text-align: left;margin-left: 50px;"><i
        class="fa fa-download"></i> Xuất excel</button></a>
  </div>