<div class='table-cont' id='table-cont'>
  <table id="tablea" class="table table-hover text-center" onclick="detail_ticket()">
    <thead>
      <tr>
        <th>STT</th>
        <th>ID</th>
        <th>ID HỆ THỐNG </th>
        <th>TÊN</th>
        <th>ẢNH</th>
        <th>SL</th>
        <th>SLTT</th>
        <th>ĐVT</th>
        <th>VỊ TRÍ</th>
      </tr>
    </thead>
    <tbody style="background-color: white">
    </tbody>
    </thead>
  </table>
</div>
