<table id="tablea" class="table table-hover text-center" onclick="detail_ticket()">
  <thead class="main-header text-center">
    <tr>
      <th style="width: 3%;">STT</th>
      <th style="width: 15%;">ID</th>
      <th>ID HỆ THỐNG </th>
      <th style="width:55%">TÊN</th>
      <th style="width:13%">ẢNH</th>
      <th style="width:5% !important">SL</th>
      <th>SLTT</th>
      <th style="width:5%">ĐVT</th>
      <th style="width:5%">VỊ TRÍ</th>
    </tr>
  </thead>
  <tbody class="mt-xl-5" style="position:absolute; margin-top:4% !important">
  </tbody>
  </thead>
</table>

<style>
  table {
    border: 1px solid black;
    font-weight: bold;
    font-size: 1vw;
  }

  thead {
    margin-top: 3%;
  }
</style>