<table id="tablea" style="width:98%; margin: auto;" onclick="detail_ticket()">
    <thead>
      <tr>
        <th style="text-align: center;width: 10px;">STT</th>
        <th style="text-align: center;width: 100px;">ID</th>
        <th style="text-align: center;width: 100px;">ID HỆ THỐNG </th>
        <th style="text-align: center;">TÊN</th>
        <th style="text-align: center;width: 200x;">ẢNH</th>
        <th style="text-align: center;width: 100px;">SỐ LƯỢNG</th>
        <th style="text-align: center;width: 100px;">SỐ LƯỢNG TỐI THIỂU</th>
        <th style="text-align: center;width: 100px;">ĐVT</th>
        <th style="text-align: center;width: 100px;">VỊ TRÍ</th>
      </tr>
    </thead>
    <tbody style="text-align: left;">
    </tbody>
    </thead>
  </table>