<table id="tablea" class="table table-hover text-center" onclick="detail_ticket()">
  <thead>
    <tr>
      <th>STT</th>
      <th>ID</th>
      <th>ID HỆ THỐNG </th>
      <th>TÊN</th>
      <th>ẢNH</th>
      <th>SỐ LƯỢNG</th>
      <th>SỐ LƯỢNG TỐI THIỂU</th>
      <th>ĐVT</th>
      <th>VỊ TRÍ</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  </thead>
</table>

<style>
  table {
    border: 1px solid black;
    font-weight: bold;
    font-size: 1vw;
  }
</style>