<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/public/logo/hbilogo.png" alt="HBI PHÚ BÀI - HUẾ" height="25%" width="25%">
  </div>