<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/home" class="brand-link">
        <img src="/public/logo/images.png" alt="HBI" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light" style = "font-weight: bold; font-size:50px">
           CMMS
        </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .class
                         with font-awesome or any other icon font library -->
                <li class="nav-item mt-5">
                    <a href="/home" class="nav-link">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <button class="btn btn-danger">Trang chủ</button>
                    </a>
                </li>
                <li class="nav-item mt-5">
                    <a href="/work" class="nav-link">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <button class="btn btn-danger">Công Việc</button>
                    </a>
                </li>
                <li class="nav-item mt-5">
                    <a href="/wo" class="nav-link">
                        <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
                        <button class="btn btn-danger">Yêu Cầu</button>
                    </a>
                </li>
                <li class="nav-item mt-5">
                    <a href="/schedule" class="nav-link">
                        <i class="fa fa-signal" aria-hidden="true"></i>
                        <button class="btn btn-danger">Bảo Trì</button>
                    </a>
                </li>
                <li class="nav-item mt-5">
                    <a href="/machine" class="nav-link">
                        <i class="fas fa-edit"></i>
                        <button class="btn btn-danger">Quản Lý Tài Sản</button>
                    </a>
                </li>
                <li class="nav-item mt-5">
                    <a href="/issue" class="nav-link">
                        <i class="fas fa-table"></i>
                        <button class="btn btn-danger">Yêu Cầu Cấp Phát</button>
                    </a>
                </li>
                <li class="nav-item mt-5">
                    <a href="/spare" class="nav-link">
                        <i class="fas fa-table"></i>
                        <button class="btn btn-danger">Quản Lý Tồn Kho</button>
                    </a>
                </li>
                <li class="nav-item mt-5">
                    <a href="/staff" class="nav-link">
                        <i class="fas fa-table"></i>
                        <button class="btn btn-danger">Quản Lý Nhân Sự</button>

                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
