<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/home" class="brand-link">
        <img src="/public/logo/images.png" alt="HBI" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light" style = "font-weight: bold; font-size:50px">
           CMMS
        </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-5">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .class
                         with font-awesome or any other icon font library -->
                <li class="nav-item mt-2">
                        <a href="/home" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p> Trang chủ</p>
                        </a>
                </li>
                <li class="nav-item mt-2">
                    <a href="/work" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Công Việc</p>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a href="/wo" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Yêu Cầu</p>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a href="/schedule" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Bảo Trì</p>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a href="/machine" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản Lý Tài Sản</p>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a href="/issue" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Yêu Cầu Cấp Phát</p>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a href="/spare" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản Lý Tồn Kho</p>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a href="/staff" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản Lý Nhân Sự</p>

                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a href="/amt" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>AMT SYSTEM</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
      <!-- /.sidebar -->
</aside>
<style>
    p {
        font-weight: bold;
        font-size: 1vw;
    }
</style>
