<div class="modal fade" id="id03" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: #7c4abe ; font-weight: bold;" id="exampleModalLabel">Tải file Exel
                </h2>
            </div>
            <div class="modal-body" style="font-weight: bold; font-size:1vw">
                <div class="card">
                    <form action="CCS/Upload_New_PRR" id="upload_formm" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="filee">File</label>
                            <input type="file" class="form-control" name="files" id='filee'>
                        </div>
                        <button id='submit' type="submit" class="btn btn-primary">UPLOAD</button>
                        <div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>