<div
style=" height: 70px; background-color: rgb(255, 255, 255); margin-top: 3px;  border: solid 1px rgb(255, 255, 255) ;">
<div class="col-auto">
  <p class="modal-title" style="color: #7c4abe;font-weight: bold;">Tên thiết bị</p>
</div>
<div class="col-autoo"><input aria-required="true"
    style=" width:200px; min-height: 10px;text-align: center; margin: auto; " type="text" id="searchname"
    class="form-control"></div>
<div class="col-auto">
  <p class="modal-title" style="color: #7c4abe;font-weight: bold;">Mức độ ưu tiên</p>
</div>
<div class="col-autoo"><input aria-required="true"
    style=" width:200px; min-height: 10px;text-align: center; margin: auto;  margin-left: 20px; " type="text"
    id="priority" class="form-control"></div>
<button class="btn" style="margin-left: 20px;" id="btrefresh"><i class="fa fa-refresh"></i> Làm mới</button>
<button class="btn" id="btsearch"><i class="fa fa-search"></i> Tìm kiếm</button>
<button class="btn" style=" background-color: #c3fe3a;" id="btadd"><i class="fa fa-plus"></i> Thêm</button>
<button id="uploadex" class="btn"
  style="margin-left: 100px; background-color: rgb(255, 0, 0);width: 110px;text-align: left;"><i
    class="fa fa-upload"></i> Tải excel</button></a>
<a><button id="dowloadex_2" class="btn" style="width: 110px;text-align: left;"><i class="fa fa-download"></i>
    Xuất excel</button></a>
</div>