<div class="row">
  <div class="col-3">
    <div class="row">
      <div class="col-md-4">
        <label for="searchname">Tên thiết bị</label>
      </div>
      <div class="col-md-8">
        <input type="text" id="searchname" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row">
      <div class="col-md-4">
        <label>Mức độ ưu tiên</label>
      </div>
      <div class="col-md-8">
        <input type="text" id="priority" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-success" id="btrefresh"><i class="fa fa-refresh"></i> Làm mới</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" id="btsearch"><i class="fa fa-search"></i> Tìm kiếm</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-danger" id="btadd"><i class="fa fa-plus"></i> Thêm</button>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row">
      <div class="col-md-6">
        <button id="uploadex" class="btn btn-dark"><i class="fa fa-upload"></i> Tải excel</button>
      </div>
      <div class="col-md-6">
        <button id="dowloadex_2" class="btn btn-dark"><i class="fa fa-download"></i>
          Xuất excel</button>
      </div>
    </div>
  </div>
</div>

<style>
  label {
    font-weight: bold;;
    font-size: 1vw;
  }
</style>