<table id="tablea" style="width:98%; margin: auto;" onclick="detail_ticket()">
    <thead>
      <tr>
        <th style="text-align: center;width: 300px;" rowspan="2">TÊN THIẾT BỊ</th>
        <th style="text-align: center; width: 300px;" colspan="6">CHU KỲ BẢO DƯỠNG</th>

        <th style="text-align: center;width: 80px;" rowspan="2">MỨC ĐỘ ƯU TIÊN</th>
        <th style="text-align: center;width: 200px;" rowspan="2">NGƯỜI THỰC HIỆN</th>
        <!-- <th style="text-align: center;width: 200px;" rowspan="2">THỜI GIAN BẢO DƯỠNG</th> -->
        <th style="text-align: center;width: 80px;" rowspan="2">GHI CHÚ</th>
        <th style="text-align: center;width: 200px;" rowspan="2">THỜI GIAN CẬP NHẬT</th>
        <th style="text-align: center;width: 100px;" rowspan="2">NGƯỜI CẬP NHẬT</th>
      </tr>
      <tr>
        <th style="text-align: center;width: 100px;">1</th>
        <th style="text-align: center;width: 200px;">THỜI GIAN</th>
        <th style="text-align: center;width: 100x;">2</th>
        <th style="text-align: center;width: 200px;">THỜI GIAN</th>
        <th style="text-align: center;width: 100px;">3</th>
        <th style="text-align: center;width: 200px;">THỜI GIAN</th>
      </tr>
    </thead>
    <tbody style="text-align: left;">
    </tbody>
    </thead>
  </table>