<div class='table-cont' id='table-cont'>
  <table id="tablea" class="table table-hover text-center" onclick="detail_ticket()" style="margin-top: 3%;">
    <thead>
      <tr>
        <th rowspan="2">TÊN THIẾT BỊ</th>
        <th colspan="6">CHU KỲ BẢO DƯỠNG</th>

        <th rowspan="2">MỨC ĐỘ ƯU TIÊN</th>
        <th rowspan="2">NGƯỜI THỰC HIỆN</th>
        <!-- <th  rowspan="2">THỜI GIAN BẢO DƯỠNG</th> -->
        <th rowspan="2">GHI CHÚ</th>
        <th rowspan="2">THỜI GIAN CẬP NHẬT</th>
        <th rowspan="2">NGƯỜI CẬP NHẬT</th>
      </tr>
      <tr>
        <th>1</th>
        <th>THỜI GIAN</th>
        <th>2</th>
        <th>THỜI GIAN</th>
        <th>3</th>
        <th>THỜI GIAN</th>
      </tr>
    </thead>
    <tbody style="background-color: white;">
    </tbody>
    </thead>
  </table>
</div>