<div class="modal fade" id="id01" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: #7c4abe ; font-weight: bold;" id="exampleModalLabel">Tải file Exel
                </h2>
            </div>
            <div class="modal-body" style="font-weight: bold; font-size:1vw">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <span>Thời gian</span>
                        </div>
                        <div class="col-3">
                            <input aria-required="true" type="date" id="day1" class="form-control">
                        </div>
                        <div class="col-3">
                            <input aria-required="true" type="date" id="day2" class="form-control">
                        </div>
                        <div class="col-3">
                            <div class="col-md-6">
                                <a href="" id="adownload" download style="display: none;">
                                    <button id="btdownload" class="btn-box"><i class="fa fa-download"></i> Xuất
                                        excel</button></a>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" id="dowloadex1"><i class="fa fa-download"></i> Xuất
                                    excel</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>