<div class="container" style="font-weight: bold;">
  <div class="row">
    <div class="col-4">
      <span>TÊN PHỤ TÙNG</span>
      <input list="listnamesp" aria-required="true" type="text" id="listipart" class="form-control "
        onchange="detectqty()"><datalist id="listnamesp">
        <%-nameesp%>
      </datalist>
    </div>
    <div class="col-4">
      <span>MÃ PHỤ TÙNG</span>
      <input aria-required="true" type="text" id="idpart" class="form-control" onchange="detectqtyy()">
    </div>
    <div class="col-4">
      <span>SỐ LƯỢNG TRONG KHO:</span>
      <h4 id="qty_inhere">--</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <span>YÊU CẦU CÔNG VIỆC</span>
      <input list="typeq" id="work_order" class="form-control"><datalist id="typeq">
        <option> </option>
        <option>Bảo dưỡng định kỳ</option>
        <option>Bảo dưỡng yêu cầu</option>
        <option>Dịch vụ yêu cầu</option>
        <option>Khác</option>
      </datalist>
    </div>
    <div class="col-4">
      <span>MÃ YÊU CẦU</span>
      <input aria-required="true" type="text" id="depart_req" class="form-control">
    </div>
    <div class="col-4">
      <div class="row mt-2">
        <div class="col-md-6">
          <span>SỐ LƯỢNG YÊU CẦU</span>
          <input aria-required="true" type="text" id="qty_req" class="form-control">
        </div>
        <div class="col-md-6">
          <span>SỐ LƯỢNG CẤP</span>
          <input aria-required="true" type="text" id="qty_issue" class="form-control">
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6">
        <span>GHI CHÚ</span>
        <input aria-required="true" type="text" id="note" class="form-control">
      </div>
      <div class="col-6">
        <input aria-required="true" style="display: none;" type="text" id="keyy" class="form-control">
        <div class="" style="display: none;"><input id="time" name="bday" class="form-control"></div>
        <div class="row mt-4">
          <div class="col-md-4">
            <button class="btn btn-primary" id="btn_issue"><i class="fa fa-download"></i>Cấp phát</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-success" id="btrefresh"><i class="fa fa-refresh"></i> Làm mới</button>
          </div>
          <div class="col-md-4">
            <button id="dowloadex" class="btn btn-danger"><i class="fa fa-download"></i> Xuất excel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  span{
    font-weight: bold;
    font-size: 0.8vw;
  }
  button {
    width: 100%;
  }
</style>