<div class="container">
  <div class="row">
    <div class="col-4">
      <input placeholder="Search..." type="text" class="form-control" id="id_groupcs" oninput="searchpartlog()">
    </div>
    <div class="col-4">
      <select id="status" class="form-control" style="width: 150px;" onchange="searchstatus()">
        <option>Trạng thái</option>
        <option value="Đã cấp">Đã cấp</option>
        <option value="Chờ xử lý">Chờ xử lý</option>
      </select>
    </div>
    <div class="col-4">
      <input type="date" id="date" name="birthday" class="form-control" onchange="searchstatus()">
    </div>
  </div>
</div>
