<div class="container-4 " style="margin-top: 5px;" >
    <input placeholder="Search..." type="text" class="form-control col-autosearch " id="id_groupcs" style="width: 300px;" oninput="searchpartlog()">
    <select id="status" class="form-control col-autosearch" style="width: 150px;" onchange="searchstatus()">
      <option >Trạng thái</option>
      <option value="Đã cấp">Đã cấp</option>
      <option value="Chờ xử lý">Chờ xử lý</option>
    </select>
    <input type="date" id="date" name="birthday" class="form-control col-a" style="width: 180px;margin-left: 610px;" onchange="searchstatus()">
  </div>