<table id="tablea" style="width:98%; margin: auto;"  onclick="detail_ticket()">
    <thead>
      <tr>           
        <th style="text-align: center;width: 150px;" rowspan="2">MÃ YÊU CẦU</th> 
        <th style="text-align: center;width: 150px;" rowspan="2">MÃ PHỤ TÙNG</th>
        <th style="text-align: center;width: 500px;" rowspan="2">TÊN PHỤ TÙNG</th>
        <th style="text-align: center;width: 650px; "colspan="4">YÊU CẦU CẤP</th>
        <th style="text-align: center;width: 100px;" rowspan="2">TRẠNG THÁI</th>
        <th style="text-align: center;width: 350px;"colspan="3">PHÁT PHỤ TÙNG</th>
        <th style="text-align: center;width: 150px;" rowspan="2">GHI CHÚ</th>
        <th style="text-align: center;width: 150px; display: none;" rowspan="2">Keyy</th>
      </tr>
        <tr>
            <!-- <th style="text-align: center;width: 100px;">MÃ YÊU CẦU</th>  -->
            <th style="text-align: center;width: 100px;">NGƯỜI YÊU CẦU</th>
            <th style="text-align: center;width: 100px;">CÔNG VIỆC</th> 
            
            <th style="text-align: center;width: 50px;">SL</th>
            <th style="text-align: center;width: 180px;">THỜI GIAN</th>                    
            <th style="text-align: center;width: 100px;">NGƯỜI CẤP</th>
            <th style="text-align: center;width: 50px;">SL</th>
            <th style="text-align: center;width: 200px;">THỜI GIAN</th>
                               
        </tr>                  
    </thead>
    <tbody style="text-align: left;" >
    </tbody>
</table>