<table id="tablea" class="table table-striped table-hover" onclick="detail_ticket()">
  <thead>
    <tr>
      <th rowspan="2">MÃ YÊU CẦU</th>
      <th rowspan="2">MÃ PHỤ TÙNG</th>
      <th rowspan="2">TÊN PHỤ TÙNG</th>
      <th colspan="4">YÊU CẦU CẤP</th>
      <th rowspan="2">TRẠNG THÁI</th>
      <th colspan="3">PHÁT PHỤ TÙNG</th>
      <th rowspan="2">GHI CHÚ</th>
      <th style="display: none;" rowspan="2">Keyy</th>
    </tr>
    <tr>
      <th>NGƯỜI YÊU CẦU</th>
      <th>CÔNG VIỆC</th>
      <th>SL</th>
      <th>THỜI GIAN</th>
      <th>NGƯỜI CẤP</th>
      <th>SL</th>
      <th>THỜI GIAN</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<style>
  table {
    border: 1px solid black;
    font-weight: bold;
    font-size: 1vw;
  }
</style>