<div class="modal fade" id="id01" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm Yêu Cầu</h5>
      </div>
      <div class="modal-body" style = "font-weight: bold; font-size:1vw">
        <div class="card">
          <div class="card-body">
            <div class="card">
              <div class="container">
                <span>Thông tin người yêu cầu</span>
                <div class="row  mt-4 mb-4">
                  <div class="col-6">
                    <input aria-required="true" style="display: none;" type="text" id="idreq" class="form-control">
                    <span>
                      Bộ phận yêu cầu
                    </span>
                    <input aria-required="true" type="text" id="departreq" class="form-control">
                  </div>
                  <div class="col-6">
                    <span>Người yêu cầu</span>
                    <input aria-required="true" type="text" id="staffreq" class="form-control" autocomplete="off">
                  </div>
                </div>
                <div class="row  mt-4 mb-4 mb-2 mt-2">
                  <div class="col-6">
                    <span>Email</span>
                    <input aria-required="true" type="text" id="emailreq" class="form-control">
                  </div>
                  <div class="col-6">
                    <span>SĐT</span>
                    <input aria-required="true" type="text" id="pnum" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="container">
                <span>Thông tin yêu cầu</span>
                <div class="row  mt-4 mb-4">
                  <div class="col-2">
                    <span>Loại yêu cầu</span>
                  </div>
                  <div class="col-10">
                    <select aria-required="true" id="typereq" class="form-control">
                      <option>Bảo dưỡng định kỳ</option>
                      <option>Dịch vụ</option>
                      <option>Sửa chữa</option>
                    </select>
                  </div>
                </div>
                <div class="row  mt-4 mb-4">
                  <div class="col-2">
                    <span>Nội dung</span>
                  </div>
                  <div class="col-10">
                    <textarea aria-required="true" type="text" id="contentreq" class="form-control"> </textarea>
                  </div>
                </div>
                <div class="row  mt-4 mb-4">
                  <div class="col-2">
                    <span>Mức độ</span>
                  </div>
                  <div class="col-10">
                    <select id="levereq" class="form-control">
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                </div>
                <div class="row  mt-4 mb-4">
                  <div class="col-2">
                    <span>Địa điểm</span>
                  </div>
                  <div class="col-10">
                    <input aria-required="true" type="text" id="placereq" class="form-control">
                  </div>
                </div>
                <div class="row  mt-4 mb-4">
                  <div class="col-6">
                    <div id="boxtimereq" style="display: none;">
                      <span>Ngày bắt đầu</span>
                      <input class="form-control" type="text" id="timereq" name="birthday">
                    </div>
                  </div>
                  <div class="col-6">
                    <span>Ngày kết thúc</span>
                    <input class="col-autoo form-control" type="date" id="timeendreq" name="birthday">
                    <input aria-required="true" style="display: none;" type="text" id="hideeq" class="form-control">
                    <input aria-required="true" style="display: none;" type="text" id="hidedate" class="form-control">
                    <input aria-required="true" style="display: none;" type="text" id="hidecycle" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div id="boxedit">
          <div class="row  mt-4 mb-4">
            <div class="col-4">
              <button class="btn btn-danger" id="btdelete"><i class="fa fa-times"></i> Xóa</button>
            </div>
            <div class="col-4">
              <button class="btn btn-success" id="btsavee"><i class="fa fa-save"></i>Lưu</button>
            </div>
            <div class="col-4">
              <button class="btn btn-primary" id="btdistri"><i class="fa fa-calendar-plus-o"></i> Giao việc</button>
            </div>
          </div>
        </div>
        <div id="boxadd">
          <button class="btn btn-success " id="btsave"><i class="fa fa-save"></i>Lưu</button>
        </div>
      </div>
    </div>
  </div>
</div>
