<div class= "container mt-4 text-center">
  <div class = "row">
    <div class = "col-6">
      <button class = "btn btn-primary" id="main">Bảo Dưỡng Định Kì</button>
    </div>
    <div class = "col-6">
      <button class = "btn btn-primary" id="service">Dịch Vụ Yêu Cầu</button>
    </div>
  </div>
</div>

<style>
  #main {
   font-size:1vw;
   font-weight: bold;
  }
  #service {
   font-size:1vw;
   font-weight: bold;
  }
</style>