<div class= "main-header text-center" style="margin-top:4.6%; padding:0; width:100%;background-color:white">
  <div class = "row">
    <div class = "col-md-6">
      <button class = "btn btn-primary" id="main">Bảo Dưỡng Định Kì</button>
    </div>
    <div class = "col-md-6">
      <button class = "btn btn-primary" id="service">Dịch Vụ Yêu Cầu</button>
    </div>
  </div>
</div>

<style>
  button {
    min-width: 100%;
  }
</style>

