<!-- <header class="mdl-layout__header">
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
    <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Bảo dưỡng định kỳ</a>
    <a href="#fixed-tab-3" class="mdl-layout__tab">Dịch vụ yêu cầu</a>
  </div>
</header> -->
<!-- <hr>
<div class="row mt-3 text-center" style="font-weight: bold; font-size: 1vw;">
  <div class="col-6">
    <a href="#fixed-tab-1" class="mdl-layout__tab is-active">
      <button class="btn btn-primary">Bảo dưỡng định kỳ</button>
    </a>
  </div>
  <div class="col-6">
    <a href="#fixed-tab-3" class="mdl-layout__tab">
      <button class="btn btn-primary">Dịch vụ yêu cầu</button>
    </a>
  </div>
</div> -->
 <!-- ./row -->
 <!-- Tabs navs -->
 <!-- Tabs navs -->
<ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="ex2-tab-1"
      data-mdb-toggle="tab"
      href="#ex2-tabs-1"
      role="tab"
      aria-controls="ex2-tabs-1"
      aria-selected="true"
      ><span>Bảo dưỡng định kỳ</span></a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="ex2-tab-2"
      data-mdb-toggle="tab"
      href="#ex2-tabs-2"
      role="tab"
      aria-controls="ex2-tabs-2"
      aria-selected="false"
      ><span>Dịch vụ yêu cầu</span></a
    >
  </li>
</ul>

<style>
  span {
    font-weight: bold;
    font-size:1vw;
    width:100%
  }
</style>