<div class= "container main-header text-center" style="margin-top:4.6%; padding:0; min-width:100%; background-color:rgb(248,213,213);">
  <div class = "row">
    <div class = "col-6">
      <button class = "btn btn-primary" id="main">Bảo Dưỡng Định Kì</button>
    </div>
    <div class = "col-6">
      <button class = "btn btn-primary" id="service">Dịch Vụ Yêu Cầu</button>
    </div>
  </div>
</div>

<style>
  button {
    width: 100%;
  }
</style>

