<header class="mdl-layout__header" style="min-height: 0px;width: 99.75%;">
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
    <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Bảo dưỡng định kỳ</a>
    <a href="#fixed-tab-3" class="mdl-layout__tab">Dịch vụ yêu cầu</a>
    </div>
  </header>