<section style="height: 700px; margin-top: 10PX;width: 99.75%;" class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
    <div class="tableFixHead">
        <div class="page-content" style=" margin-top: 0px;margin-left: 0px;">
          <div class="loader" id="load" style="display: none; margin: auto;margin-top: 0px;"></div>
            <table id="tablepm" class="tablea" style="width:99%; margin: auto;"  onclick="detail_ticketpm()">
              <thead>
                <tr>
                  <th style="text-align: center;width: 50px;" rowspan="2">MÃ YÊU CẦU</th>
                  <th style="text-align: center;" colspan="4">YÊU CẦU</th>
                  <th style="text-align: center;width: 360px;" colspan="3">PHẢN HỒI</th>
                  <th style="text-align: center;width: 360px;" colspan="3">THỰC HIỆN</th>
                  <th style="text-align: center;width: 100px;" rowspan="2">HOÀN THÀNH</th>                      
                  <th style="text-align: center;width: 50px;" rowspan="2">ÐÁNH GIÁ</th>
                </tr>
                <tr>
                    <th style="text-align: center;width: 150px;">THIẾT BỊ</th>
                    <th style="text-align: center;width: 150px;">LOẠI</th>
                    <th style="text-align: center;">NỘI DUNG</th>                  
                    <th style="text-align: center;width: 100px;">THỜI GIAN</th>
                    <th style="text-align: center;width: 130px;">NỘI DUNG</th>
                    <th style="text-align: center;width: 130px;">NGƯỜI PHẢN HỒI</th>
                    <th style="text-align: center;width: 100px;">THỜI GIAN</th>
                    <th style="text-align: center;width: 130px;">NHÂN VIÊN</th>
                    <th style="text-align: center;width: 100px;">NGÀY THỰC HIỆN</th>
                    <th style="text-align: center;width: 130px;">THỜI GIAN CAM KẾT</th>
                </tr>
              </thead>
              <tbody style="text-align: left;" >
              </tbody>
            </table>
          </div>
    </div>
  </section>