  <div class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
  <table id="tablepm" class="table table-hover mt-2 text-center"onclick="detail_ticketpm()">
    <thead>
      <tr>
        <th rowspan="2">MÃ YÊU CẦU</th>
        <th colspan="4">YÊU CẦU</th>
        <th  colspan="3">PHẢN HỒI</th>
        <th  colspan="3">THỰC HIỆN</th>
        <th  rowspan="2">HOÀN THÀNH</th>
        <th rowspan="2">ÐÁNH GIÁ</th>
      </tr>
      <tr>
        <th >THIẾT BỊ</th>
        <th >LOẠI</th>
        <th >NỘI DUNG</th>
        <th >THỜI GIAN</th>
        <th >NỘI DUNG</th>
        <th >NGƯỜI PHẢN HỒI</th>
        <th >THỜI GIAN</th>
        <th >NHÂN VIÊN</th>
        <th >NGÀY THỰC HIỆN</th>
        <th >THỜI GIAN CAM KẾT</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>