<div class="row">
  <div class="col-4">
    <div class="row ml-sm-2">
      <div class="col-md-6">
        <span>Mã yêu cầu</span>
        <input aria-required="true" type="text" id="searchname" class="form-control">
      </div>
      <div class="col-md-6">
        <span>Mức độ ưu tiên</span>
        <select id="levereqq" class="form-control">
          <option></option>
          <option>1</option>
          <option>2</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="row mt-4">
      <div class="col-md-2">
        <span>Thời gian</span>
      </div>
      <div class="col-md-5">
        <input aria-required="true" type="date" id="day1" class="form-control" style="width:100%">
      </div>
      <div class="col-md-4">
        <input aria-required="true" type="date" id="day2" class="form-control" style="width:100%">
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row mt-4">
      <div class="col-md-4">
        <button class="btn btn-primary" id="btrefresh"><i class="fa fa-refresh"></i> Làm mới</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" id="btsearch"><i class="fa fa-search"></i> Tìm kiếm</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-success" id="btadd"><i class="fa fa-plus"></i> Thêm</button>
      </div>
    </div>
  </div>
</div>