<div  style=" height: 80px; background-color: rgb(255, 255, 255); margin-top: 3px; margin-left: 0px; border: solid 1px rgb(255, 255, 255) ;" >
    <div class="col-auto"><p class="modal-title" style="color: #7c4abe;font-weight: bold;">Mã yêu cầu</p></div>
    <div class="col-autoo"><input  aria-required="true" style=" width:200px; min-height: 10px;text-align: center; margin: auto; " type="text" id="searchname" class="form-control"></div>
    <div class="col-auto"><p class="modal-title" style="color: #7c4abe;font-weight: bold;">Mức độ ưu tiên</p></div>
    <div ><select id="levereqq" style="color: rgb(0, 0, 0);width: 80px !important;" class="form-control col-autoo">
      <option ></option>
      <option >1</option> 
      <option >2</option>
    </select> 
    <div class="col-auto"><p class="modal-title" style="color: #7c4abe;font-weight: bold;">Thời gian</p></div>
    <div class="col-autoo"><input  aria-required="true" style=" width:200px; min-height: 10px;margin: auto; " type="date" id="day1" class="form-control"></div>
    <div class="col-autoo"><input  aria-required="true" style=" width:200px; min-height: 10px;margin: auto;  " type="date" id="day2" class="form-control"></div>
    <button class="btn" style="margin-left: 20px;" id="btrefresh"><i class="fa fa-refresh"></i> Làm mới</button>
    <button class="btn" id="btsearch"><i class="fa fa-search" ></i> Tìm kiếm</button>
    <button class="btn" style=" background-color: #c3fe3a; margin-left: 20px;" id="btadd"><i class="fa fa-plus"></i> Thêm</button>
  </div>