<table id="tablese" class="table table-hover text-center" onclick="detail_ticketse()">
  <thead>
    <tr>
      <th rowspan="2">MÃ YÊU CẦU</th>
      <th colspan="4">YÊU CẦU</th>
      <th colspan="3">PHẢN HỒI</th>
      <th colspan="3">THỰC HIỆN</th>
      <th rowspan="2">HOÀN THÀNH</th>
      <th rowspan="2">ÐÁNH GIÁ</th>
    </tr>
    <tr>
      <th>BỘ PHẬN</th>
      <th>NỘI DUNG</th>
      <th>NGƯỜI YÊU CẦU</th>
      <th>THỜI GIAN</th>
      <th>NỘI DUNG</th>
      <th>NGƯỜI PHẢN HỒI</th>
      <th>THỜI GIAN</th>
      <th>NHÂN VIÊN</th>
      <th>NGÀY CAM KẾT</th>
      <th>THỜI GIAN CAM KẾT</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<style>
  table {
    font-weight: bold;
    border: 1px solid rgb(2, 1, 1);
  }

  thead {
    background-color: #f1cc65
  }
</style>