<div class="modal fade" id="id02" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="min-width:80%; max-height: 100%; overflow:scroll">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: #7c4abe ; font-weight: bold;" id="exampleModalLabel">Thông tin máy
                    đã hết hạn
                </h2>
            </div>
            <div class="modal-body" style="font-weight: bold; font-size:1vw">
                <table class="table table-hover text-center" id="tableb">
                    <thead>
                        <tr>
                            <th>TÊN THIẾT BỊ</th>
                            <th>TÊN CŨ</th>
                            <th>LOẠI THIẾT BỊ</th>
                            <th>ẢNH</th>
                            <th>NHÀ MÁY</th>
                            <th>VỊ TRÍ</th>
                            <th>TRẠNG THÁI</th>
                            <th>MODEL</th>
                            <th>SỐ SERI</th>
                            <th>START</th>
                            <th>FINISH</th>
                            <th>TIMEUPDATE</th>
                            <th>USER</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>