<div class="row main-header" style="background-color: rgb(248,213,213); margin-top:2%">
  <div class="col-4">
    <div class="row">
      <div class="col-md-6">
        <span>Tên thiết bị</span>
        <input aria-required="true" type="text" id="searchname" class="form-control">
      </div>
      <div class="col-md-6">
        <span>Loại thiết bị</span>
        <input list="typeq" aria-required="true" type="text" id="searchtypeq" class="form-control">
        <datalist id="typeq">
          <%-sy%>
        </datalist>
      </div>
    </div>
  </div>
  <div class="col-2">
    <span>Vị trí</span>
    <input list="posi" aria-required="true" type="text" id="searchpos" class="form-control"><datalist id="posi">
      <%-po%>
    </datalist>
  </div>
  <div class="col-4">
    <div class="row mt-4">
      <div class="col-md-4">
        <button class="btn btn-success" id="btrefresh"><i class="fa fa-refresh"></i> Làm mới</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" id="btsearch"><i class="fa fa-search"></i> Tìm kiếm</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-danger" id="btadd"><i class="fa fa-plus"></i> Thêm</button>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="row">
      <div class="col-md-4">
        <button id="uploadex" class="btn btn-primary"><i class="fa fa-upload"></i> Tải excel</button>
      </div>
      <div class="col-md-4">
        <a href="" id="adownload" download style="display: none;">
          <button id="btdownload" class="btn-box"><i class="fa fa-download"></i> Xuất excel</button></a>
        <button id="dowloadex" class="btn btn-primary"><i class="fa fa-download"></i> Xuất
          excel</button>
      </div>
      <div class="col-md-4">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" title="Máy hết hạn" id="hdrbtn1">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn1">
          <a>
            <button id="macdie" class="btn">Máy
              hết hạn</button></a>
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  span {
    font-size: 1vw;
    font-weight: bold;
  }
</style>