<table class="table table-hover text-center" id="tablea" onclick="detail_ticket()" style="margin-top: 6%;">
  <thead>
    <tr>
      <th>TÊN THIẾT BỊ</th>
      <th>TÊN CŨ</th>
      <th>LOẠI THIẾT BỊ</th>
      <th>ẢNH</th>
      <th>VỊ TRÍ</th>
      <th>TRẠNG THÁI</th>
      <th>MODEL</th>
      <th>MÔ TẢ</th>
      <th>BẮT ĐẦU</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  </thead>
</table>

<style>
  table {
    border: 1px solid black;
    font-weight: bold;
    font-size: 1vw;
  }
</style>