<table class="tablea" id="tablea" style="width:98%; margin: auto;" onclick="detail_ticket()">
    <thead>
      <tr>
        <th style="text-align: center;width: 200px !important;">TÊN THIẾT BỊ</th>
        <th style="text-align: center;width: 150px;">TÊN CŨ</th>
        <th style="text-align: center;width: 100px;">LOẠI THIẾT BỊ</th>

        <th style="text-align: center;width: 160px;">ẢNH</th>
        <!-- <th style="text-align: center;width: 100px;">NHÀ MÁY</th>                            -->
        <th style="text-align: center;width: 200px;">VỊ TRÍ</th>
        <th style="text-align: center;width: 100px;">TRẠNG THÁI</th>
        <th style="text-align: center;width: 200px;">MODEL</th>
        <th style="text-align: center;width: 100px;">MÔ TẢ</th>
        <th style="text-align: center;width: 150px;">BẮT ĐẦU</th>
      </tr>
    </thead>
    <tbody style="text-align: left;">
    </tbody>
    </thead>
  </table>