<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- day picker -->
    <!-- Include jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>CMMS</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css"> -->
    <link rel="stylesheet" href="styles.css">
    <style>
          .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
    margin-left: 240px;
    width: calc(100% - 240px);
    margin-left: 0px !important;
    /* margin-left: 100px !important; */
    width: 100%;
}
      .btn {
            background-color: DodgerBlue;
            border: none;
            color: white;
            padding: 8px 16px;
            margin-top:18px;
            cursor: pointer;
            border-radius: 3px/3px;
        }
        .btn:hover {
            background-color: RoyalBlue;
        }
        .form1{
            height: 200px;
        }
        
        .col-10 {
        float: left;
        /* width: 10%; */
        min-width: 100px;
        margin-top: 32px;
        }

        .col-90 {
        float: left;
        width: 90%;
        margin-top: 26px;
        }
        .coll-90 {
        float: left;
        min-width: 100px;;
        margin-top: 26px;
        margin-left: 50px;
        }
        .col-auto{
            float: left;
            min-width: 100px;
            margin-left: 30px;
            margin-top: 26px;
        }
        .col-aut1{
            min-width:800px;
            margin-left: 30px;
            margin-top: 26px;
            clear: left;
        }
        .col-autoo{
            float: left;
            /* margin-left: 10px; */
            min-width: 50px;
            margin-top: 20px;
            /* margin-left: 30px; */
        }
        .container{
            height: 200px;
            width: 300px;
            position: relative;
            margin-top: 15px;
            }
            .container .wrapper{
            position: relative;
            height: 200px;
            width: 300;
            border-radius: 5px;
            background: #fff;
            border: 2px dashed #c2cdda;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            }
            .wrapper.active{
            border: none;
            }
            .wrapper .image{
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            }
            .wrapper img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            }
            .container #custom-btn{
            text-align: center;
            margin-top: -15px;
            display: block;
            width: 100%;
            height: 20px;
            border: none;
            outline: none;
            border-radius: 5px;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
            background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
            }
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    .left {
      float: left;
      width: 15%;
      /* margin-top: 5px; */
      
      border: solid 1px rgb(255, 255, 255);
    }
    .right {
      float: left;
      width: 85%;
      /* margin-top: 5px; */
      border: solid 1px rgb(248, 248, 248);
    }
    html, body {
      font-family: 'Roboto', 'Helvetica', sans-serif;
    }
    .demo-avatar {
      width: 48px;
      height: 48px;
      border-radius: 24px;
    }
    .demo-layout .mdl-layout__header .mdl-layout__drawer-button {
      color: rgba(0, 0, 0, 0.54);
    }
    .mdl-layout__drawer .avatar {
      margin-bottom: 16px;
    }
    .demo-drawer {
      border: none;
      width: 250px;/* width: 250px; đổi */
    }
    .demo-drawer .mdl-menu__container {
      z-index: -1;
    }
    .demo-drawer .demo-navigation {
      z-index: -2;
    }
    /* END iOS Safari specific workaround */
    .demo-drawer .mdl-menu .mdl-menu__item {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .demo-drawer-header {
      box-sizing: border-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding: 16px;
      height: 151px;
    }
    .demo-avatar-dropdown {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
    }

    .demo-navigation {
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
    .demo-layout .demo-navigation .mdl-navigation__link {
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: rgba(255, 255, 255, 0.56);
      font-weight: 500;
    }
    .demo-layout .demo-navigation .mdl-navigation__link:hover {
      background-color: #00BCD4;
      color: #37474F;
    }
    .demo-navigation .mdl-navigation__link .material-icons {
      font-size: 24px;
      color: rgba(255, 255, 255, 0.56);
      margin-right: 32px;
      margin-left: -15px;
    }

    .demo-content {
      max-width: 1080px;
    }

    .demo-charts {
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .demo-chart:nth-child(1) {
      color: #ACEC00;
    }
    .demo-chart:nth-child(2) {
      color: #00BBD6;
    }
    .demo-chart:nth-child(3) {
      color: #BA65C9;
    }
    .demo-chart:nth-child(4) {
      color: #EF3C79;
    }
    .demo-graphs {
      padding: 16px 32px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
    }
    _:-ms-input-placeholder, :root .demo-graphs {
      min-height: 664px;
    }
    _:-ms-input-placeholder, :root .demo-graph {
      max-height: 300px;
    }
    /* TODO end */
    .demo-graph:nth-child(1) {
      color: #00b9d8;
    }
    .demo-graph:nth-child(2) {
      color: #d9006e;
    }

    .demo-cards {
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-align-content: flex-start;
          -ms-flex-line-pack: start;
              align-content: flex-start;
    }
    .demo-cards .demo-separator {
      height: 32px;
    }
    .demo-cards .mdl-card__title.mdl-card__title {
      color: white;
      font-size: 24px;
      font-weight: 400;
    }
    .demo-cards ul {
      padding: 0;
    }
    .demo-cards h3 {
      font-size: 1em;
    }
    .demo-updates .mdl-card__title {
      min-height: 200px;
      background-image: url('images/dog.png');
      background-position: 90% 100%;
      background-repeat: no-repeat;
    }
    .demo-cards .mdl-card__actions a {
      color: #00BCD4;
      text-decoration: none;
    }

    .demo-options h3 {
      margin: 0;
    }
    .demo-options .mdl-checkbox__box-outline {
      border-color: rgba(255, 255, 255, 0.89);
    }
    .demo-options ul {
      margin: 0;
      list-style-type: none;
    }
    .demo-options li {
      margin: 4px 0;
    }
    .demo-options .material-icons {
      color: rgba(255, 255, 255, 0.89);
    }
    .demo-options .mdl-card__actions {
      height: 64px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      box-sizing: border-box;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    }
    </style>
  </head>
  <body onload="loaddata()">
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header" >
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600" >
        <div class="mdl-layout__header-row">
          <div style="background-color: #263238;width: 239px;height: 65px;margin-left: -40px;"><h2 style="color: #b9e407;font-weight: bold; margin-left: 60px; font-family: cursive;">CMMS</h2></div>
          <div style="background-color: #ffffff;width: 3px;height: 65px;background-color: #b9e407;"></div>
          
          <!-- <span style="border-left: thick solid #ff0000;"> </span> -->
          <span class="mdl-layout-title" style="margin-left: 30px;"><h4>KẾ HOẠCH BẢO TRÌ</h4></span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          </div>
          <span><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation" style="height: 10px; font-size: 30px;">account_circle</i></span>
          <span><id="user" style="font-size: 20px;" id="user"><%=user %></span>

          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
          <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn" style="align-items: center;">
            <li class="mdl-menu__item"  id="position" ><%=note %></li>
            <a href="/logout" style="margin-left: 5px;" >
              <button  class="btn-box" style="color: black; background-color: rgb(255, 255, 255);border: solid rgb(255, 255, 255);width: 230px;text-align: left;" >Đăng xuất</button></a>
            </ul>
        </div>
     
        <!-- <div  style="height: 100px; background-color: rgb(255, 255, 255); margin-top: 3px; margin-left: 10px; border: solid 1px rgb(255, 255, 255) ;" >
            <button class="btn" id="btsearch"><i class="fa fa-search" ></i> Tìm kiếm</button>
            <button class="btn" style=" background-color: #ffffff; border: solid 2px blueviolet;" id="btadd"><i class="fa fa-plus"></i> Thêm</button>
        </div> -->
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">      
        <%-include ('menu'); %>
      </div>
      
     
      <main class="mdl-layout__content mdl-color--grey-100">
          <div  style=" height: 70px; background-color: rgb(255, 255, 255); margin-top: 3px;  border: solid 1px rgb(255, 255, 255) ;" >
            <div class="col-auto"><p class="modal-title" style="color: #7c4abe;font-weight: bold;">Tên thiết bị</p></div>
            <div class="col-autoo"><input  aria-required="true" style=" width:200px; min-height: 10px;text-align: center; margin: auto; " type="text" id="searchname" class="form-control"></div>
            <div class="col-auto"><p class="modal-title" style="color: #7c4abe;font-weight: bold;">Người thực hiện</p></div>
            <div class="col-autoo"><input  aria-required="true" style=" width:200px; min-height: 10px;text-align: center; margin: auto; margin-left: 20px; " type="text" id="searchstatus" class="form-control"></div>
            <div class="col-auto"><p class="modal-title" style="color: #7c4abe;font-weight: bold;">Mức độ ưu tiên</p></div>
            <div class="col-autoo"><input  aria-required="true" style=" width:200px; min-height: 10px;text-align: center; margin: auto;  margin-left: 20px; " type="text" id="depart_req" class="form-control"></div>
            <button class="btn" style="margin-left: 20px;" id="btrefresh"><i class="fa fa-refresh"></i> Làm mới</button>
            <button class="btn" id="btsearch"><i class="fa fa-search" ></i> Tìm kiếm</button>
            <button class="btn" style=" background-color: #c3fe3a;" id="btadd"><i class="fa fa-plus"></i> Thêm</button>
          </div>
          <div  style="height: 670px; background-color: rgb(255, 255, 255); margin-top: 3px; border: solid 1px rgb(255, 255, 255) ;" >           
            <style>
              #tablea {
                  margin-top: 0px !important;
                  font-family: Arial, Helvetica, sans-serif;
                  border-collapse: collapse;
                  border-radius: 15px;
                  /* border: 1px solid #ffffff; */
                  overflow: scroll !important;
              }
              
              #tablea td {
                  text-align: left;
                  /* border: 1px solid #3a3a3a; */
                  height: 70px !important;                                                         
              }
              
              #tablea th {
                  border: 1px solid #ddd;
                  padding: 8px;
                  border: 1px solid #ffffff;
                  height: 45px !important;
                  min-width: 100px;

              }
              
              #tablea tr:nth-child(even) {
                  background-color: #f2f2f2;
              }
              
              #tablea tr:hover {
                  background-color: #ddd;
              }

              #tablea th {
                  height: 600px;
                  padding-top: 12px;
                  padding-bottom: 12px;
                  text-align: center;
                  background-color: #7c4abe;
                  color: white;
              }
              .tableFixHead {
                  overflow-y: auto;
                  height: 670px;
              }
              .tableFixHead thead:not([scope=row]) {
                  position: sticky;
                  top: 0;
              }
              #tablea {
                  border-collapse: collapse;
                  width: 100%;
              }
            </style>  
              <div class="tableFixHead">
                <div class="page-content" style=" margin-top: 0px;">
                  <div class="loader" id="load" style="display: none; margin: auto;margin-top: 0px;"></div>
                    <table id="tablea" style="width:98%; margin: auto;"  onclick="detail_ticket()">
                      <thead>
                        <tr>
                          <th style="text-align: center;width: 300px;" rowspan="2">TÊN THIẾT BỊ</th>
                          <th style="text-align: center; width: 300px;" colspan="8">CHU KỲ BẢO DƯỠNG</th>
                          
                          <th style="text-align: center;width: 80px;" rowspan="2">MỨC ĐỘ ƯU TIÊN</th>
                          <th style="text-align: center;width: 80px;" rowspan="2">NGƯỜI THỰC HIỆN</th>
                          <!-- <th style="text-align: center;width: 200px;" rowspan="2">THỜI GIAN BẢO DƯỠNG</th> -->
                          <th style="text-align: center;width: 300px;" rowspan="2">GHI CHÚ</th>
                          <!-- <th style="text-align: center;width: 200px;" rowspan="2">THỜI GIAN CẬP NHẬT</th> -->
                          <!-- <th style="text-align: center;width: 100px;" rowspan="2">NGƯỜI CẬP NHẬT</th> -->
                        </tr>
                        <tr>                      
                          <th style="text-align: center;width: 100px;">W</th>
                          <th style="text-align: center;width: 100px;">2W</th>
                          <th style="text-align: center;width: 100px;">3W</th>
                          <th style="text-align: center;width: 100px;">M</th>
                          <th style="text-align: center;width: 100px;">2M</th>
                          <th style="text-align: center;width: 100px;">Q</th>
                          <th style="text-align: center;width: 100px;">2Q</th>
                          <th style="text-align: center;width: 100px;">Y</th>
                          <!-- <th style="text-align: center;width: 200px;" >THỜI GIAN</th>
                          <th style="text-align: center;width: 100x;">2</th> 
                          <th style="text-align: center;width: 200px;" >THỜI GIAN</th>
                          <th style="text-align: center;width: 100px;">3</th> 
                          <th style="text-align: center;width: 200px;" >THỜI GIAN</th>                                             -->
                        </tr>                        
                        </thead>
                        <tbody style="text-align: left;" >
                        </tbody>
                      </thead>
                    </table>
                  </div>
              </div>
              <!-- <div class="w3-container">
                <div style="margin-top: 0px;" id="id01" class="w3-modal">
                    <div style="width: 1200px; height: 600px ; margin-left: 370px; margin-top: 50px;border: solid 3px blueviolet;" class="w3-modal-content">
                        <div style="width: 100%; height: 100%;" class="w3-container">
                            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <div class="modal-header">
                                <h5 class="modal-title" style="color: #7c4abe ; font-weight: bold;" id="namebox"></h5>
                            </div>
                            <div>
                                <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">TÊN THIẾT BỊ</p>
                                <input oninput="myFunction()" aria-required="true" style=" width:300px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;" type="text" id="machine" class="form-control col-90">                                      
                                <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">NGƯỜI THỰC HIỆN</p>
                                <input oninput="myFunction()" aria-required="true" style=" width:200px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 10px;" type="text" id="staff" class="form-control col-90">                                      
                                <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">MỨC ĐỘ ƯU TIÊN</p>
                                <select id="priority" style="color: rgb(0, 0, 0);width: 80px;margin-left: 10px;" class="form-control col-90" onchange="searchplant() ">
                                  <option ></option>
                                  <option >1</option>
                                  <option >2</option>
                                  <option >3</option>
                                </select>                       
                                <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">CHU KÌ</p>
                                <div class="col-autoo"><select id="cy1" style="color: rgb(0, 0, 0);width: 80px;" class="form-control" onchange="searchplant() ">
                                  <option ></option>
                                  <option >W</option>
                                  <option >2W</option>
                                  <option >3W</option>
                                  <option >M</option>
                                  <option >2M</option>
                                  <option >Q</option>
                                  <option >2Q</option>
                                  <option >Y</option>         
                                </select>          
                                </div>
                                <input class="col-autoo form-control" type="date" id="date1" name="birthday"  style="width: 180px;margin-left: 15px;" onchange="searchstatus()">
                                <div class="col-autoo"><select id="cy2" style="color: rgb(0, 0, 0);width: 80px;margin-left: 55px;" class="form-control" onchange="searchplant() ">
                                  <option ></option>
                                  <option >W</option>
                                  <option >2W</option>
                                  <option >3W</option>
                                  <option >M</option>
                                  <option >2M</option>
                                  <option >Q</option>
                                  <option >2Q</option>
                                  <option >Y</option>         
                                </select>          
                                </div>
                                <input class="col-autoo form-control" type="date" id="date2" name="birthday"  style="width: 180px;margin-left: 15px;" onchange="searchstatus()">
                                <div class="col-autoo"><select id="cy3" style="color: rgb(0, 0, 0);width: 80px;margin-left: 55px;" class="form-control" onchange="searchplant() ">
                                  <option ></option>
                                  <option >W</option>
                                  <option >2W</option>
                                  <option >3W</option>
                                  <option >M</option>
                                  <option >2M</option>
                                  <option >Q</option>
                                  <option >2Q</option>
                                  <option >Y</option>         
                                </select> 
                                </div>
                                <input class="col-autoo form-control" type="date" id="date3" name="birthday"  style="width: 180px;margin-left: 15px;" onchange="searchstatus()">

                                <!-- <p class="modal-title col-auto" style="color: #7c4abe;font-weight: bold; margin-left: 60px;">THỜI GIAN</p>
                                <input class="col-autoo form-control" type="date" id="date" name="birthday"  style="width: 180px;" onchange="searchstatus()"> -->


<!--                                
                                </div>
                                <p class="modal-title col-auto" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">GHI CHÚ</p>
                                <input oninput="myFunction()" aria-required="true" style=" width:930px; min-height: 10px;text-align: center; margin: auto; margin-top: 20px;" type="text" id="note" class="form-control col-autoo">
                                <div style="margin-top: 200px">
                                  <style>
                                    .tablea {
                                        margin-top: 0px !important;
                                        font-family: Arial, Helvetica, sans-serif;
                                        border-collapse: collapse;
                                        border-radius: 15px;
                                        /* border: 1px solid #ffffff; */
                                        overflow: scroll !important;
                                    }
                                    
                                    #tablea td {
                                        text-align: left;
                                        /* border: 1px solid #3a3a3a; */
                                        height: 80px !important;                                                         
                                    }
                                    
                                    #tablea th {
                                        border: 1px solid #ddd;
                                        padding: 8px;
                                        border: 1px solid #ffffff;
                                        height: 45px !important;
                                        min-width: 100px;
                      
                                    }
                      
                                    #tablemaint td {
                                        text-align: left;
                                        /* border: 1px solid #3a3a3a; */
                                        height: 25px !important;                                                         
                                    }
                                    
                                    #tablemaint th {
                                        border: 1px solid #ddd;
                                        padding: 8px;
                                        border: 1px solid #ffffff;
                                        height: 25px !important;
                                        min-width: 100px;
                      
                                    }
                                    
                                    .tablea tr:nth-child(even) {
                                        background-color: #f2f2f2;
                                    }
                                    
                                    .tablea tr:hover {
                                        background-color: #ddd;
                                    }
                      
                                    .tablea th {
                                        /* height: 600px; */
                                        padding-top: 12px;
                                        padding-bottom: 12px;
                                        text-align: center;
                                        background-color: #7c4abe;
                                        color: white;
                                    }
                                    .tableFixHead {
                                        overflow-y: auto;
                                        height: 700px;
                                    }
                                    .tableFixHead thead:not([scope=row]) {
                                        position: sticky;
                                        top: 0;
                                    }
                                    .tablea {
                                        border-collapse: collapse;
                                        width: 100%;
                                    }
                                  </style>  
                                  <div class="page-content">
                                    <div class="loader" id="load" style="display: none; margin: auto;margin-top: 0px;"></div>
                                      <table class="tablea" id="tableb" style="width:98%; margin: auto;"  onclick="detail_ticket()">
                                        <thead>
                                          <tr>
                                            <th style="text-align: center;width: 350px !important;">YÊU CẦU CÔNG VIỆC</th>
                                            <th style="text-align: center;width: 200px;">THỜI GIAN THỰC HIỆN</th> 
                                            <th style="text-align: center;width: 100px;">ĐỘ ƯU TIÊN</th>                                 
                                            <th style="text-align: center;width: 160px;">TRẠNG THÁI</th> 
                                            <th style="text-align: center;width: 200px;">NGÀY HOÀN THÀNH</th>                           
                                          </tr>
                                          </thead>
                                          <tbody style="text-align: left;" >
                                          </tbody>
                                        </thead>
                                      </table>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer" style="margin-top:-60px;">
                                <div class="col-xs-12 col-sm-4 col-md-4 ">
                                    <h6 class="modal-title" style="color: #7c4abe; width:500px; text-align: left ;margin-left: -15px;" id="timeupdate" ></h6>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 ">
                                    <h6 class="modal-title" style="color: #7c4abe; width:500px; text-align: left ;margin-left: -15px;" id="userupdate" ></h6>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 ">
                                    <div id="blockedit">
                                        <button class="btn" id="btdelete" style="margin-top: -5px; background-color: red;"><i class="fa fa-times"></i> Xóa</button>
                                        <button  class="btn" id="btsave" style="margin-top: -5px;"><i class="fa fa-save"></i> Lưu</button>  
                                    </div>
                                    <div id="blockadd" >
                                        <button  class="btn" id="btsave1" style="margin-top: -5px;"><i class="fa fa-save"></i> Lưu</button>
                                    </div>
                                    
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
              </div> --> 
              <div class="w3-container">
                <div style="margin-top: 0px;" id="id02" class="w3-modal">
                    <div style="width: 1200px; height:670px ; border: solid 3px blueviolet;" class="w3-modal-content">
                        <div style="width: 100%; height: 100%;" class="w3-container">
                            <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <div class="modal-header">
                                <h5 class="modal-title" style="color: #7c4abe ; font-weight: bold;" id="namebox">Thêm mới: Kế hoạch bảo trì</h5>
                            </div>
                            <div>
                            <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">NGƯỜI YÊU CẦU</p>
                            <input aria-required="true" style=" width:220px; margin-left: 35px !important;text-align: center; margin: auto; margin-top: 26px;" type="text" class="form-control col-90" id="ursche">                                                                 
                            
                            <!-- <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">LOẠI BẢO TRÌ</p>
                            <div class="coll-90"><select id="cy1" style="color: rgb(0, 0, 0);width: 300px;" class="form-control">
                              <option >Bảo dưỡng</option>
                              <option >Sữa chữa</option>
                              <option >Vệ sinh</option>      
                              </select>          
                            </div> -->
                            <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">NGƯỜI THỰC HIỆN</p>
                            <input aria-required="true" style=" width:220px; MARGIN-LEFT: 18px!important;text-align: center; margin: auto; margin-top: 26px;" type="text" class="form-control col-90" id="staffw">                                                                 
                            <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">MỨC ĐỘ ƯU TIÊN</p>
                            <div class="coll-90"><select id="levelsche" style="color: rgb(0, 0, 0);width: 90px;margin-left: -5px" class="form-control">
                              <option >1</option>
                              <option >2</option>  
                              </select>          
                            </div> 
                            </div>
                            <!-- <p class="modal-title col-auto" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">GHI CHÚ</p>
                                <input oninput="myFunction()" aria-required="true" style=" width:930px; min-height: 10px;text-align: center; margin: auto; margin-top: 20px;" type="text" id="note" class="form-control col-autoo"> -->
                            <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">NỘI DỤNG</p>
                            <input aria-required="true" style=" width:930px; margin-left: 35px !important;text-align: center; margin: auto; margin-top: 26px;" type="text" class="form-control col-90" id="content">     
                            <!-- <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">NGƯỜI THỰC HIỆN</p>
                            <input aria-required="true" style=" width:420px; MARGIN-LEFT: 18px!important;text-align: center; margin: auto; margin-top: 26px;" type="text" class="form-control col-90">                                                                 
                            <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">MỨC ĐỘ ƯU TIÊN</p>
                            <div class="coll-90"><select id="cy1" style="color: rgb(0, 0, 0);width: 300px;margin-left: -5px" class="form-control">
                              <option >1</option>
                              <option >2</option>  
                              </select>          
                            </div>  -->
                            <p class="modal-title col-auto" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">GHI CHÚ</p>
                            <input oninput="myFunction()" aria-required="true" style=" width:930px; min-height: 10px;text-align: center; margin: auto; margin-top: 20px;margin-left: 35px;" type="text" id="note" class="form-control col-autoo">
                            <p class="modal-title col-auto" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">TÊN THIẾT BỊ</p>
                            <input oninput="myFunction()" aria-required="true" style=" width:430px; min-height: 10px;text-align: center; margin: auto; margin-top: 20px;margin-left: 35px;" type="text" id="namemac" class="form-control col-autoo">
                            <p class="modal-title col-auto" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">TÊN CŨ</p>
                            <input oninput="myFunction()" aria-required="true" style=" width:315px; min-height: 10px;text-align: center; margin: auto; margin-top: 20px;margin-left: 35px;" type="text" id="nameold" class="form-control col-autoo">
                            <fieldset style="margin-top: 20px;margin-left: 0px!important;height: 280px;" class="col-auto">
                              <legend>Lịch bảo trì   </legend>
                              <div style="margin-top: -30px;">
                                <div>
                                  <!-- <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">MÔ TẢ</p>
                                  <input aria-required="true" style=" width:420px; margin-left: 35px !important;text-align: center; margin: auto; margin-top: 26px;" type="text" class="form-control col-90">                                                                  -->
                                  <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">CHU KÌ BẢO DƯỠNG</p>
                                  <!-- <input aria-required="true" style=" width:420px; margin-left: 35px !important;text-align: center; margin: auto; margin-top: 26px;" type="text" class="form-control col-90">  -->
                                  <div class="col-autoo"><select id="cycle" style="color: rgb(0, 0, 0);width: 80px;margin-left: 55px;" class="form-control" >
                                    <option ></option>
                                    <option style="margin: auto;">W</option>
                                    <option style="text-align: center;" >2W</option>
                                    <option style="text-align: center;" ">3W</option>
                                    <option style="text-align: center;">M</option>
                                    <option style="text-align: center;" >2M</option>
                                    <option style="text-align: center;">Q</option>
                                    <option style="text-align: center;"  >2Q</option>
                                    <option style="text-align: center;">Y</option>         
                                  </select> 
                                  </div>
                                  <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">THỜI GIAN BẮT ĐẦU</p>
                                  <input class="col-autoo form-control" type="date" id="datestart" name="birthday"  style="width: 180px;margin-left: 15px;" >
                                  <button  class="btn" id="btaddsche" style="margin-top: 20px; margin-left: 50px;"><i class="fa fa-plus"> Thêm</i></button>
                                </div>
                                <style>
                                  .tablea {
                                      margin-top: 0px !important;
                                      font-family: Arial, Helvetica, sans-serif;
                                      border-collapse: collapse;
                                      border-radius: 15px;
                                      /* border: 1px solid #ffffff; */
                                      overflow: scroll !important;
                                  }
                                  
                                  #tablea td {
                                      text-align: left;
                                      /* border: 1px solid #3a3a3a; */
                                      height: 45px !important;                                                         
                                  }
                                  
                                  #tablea th {
                                      border: 1px solid #ddd;
                                      padding: 8px;
                                      border: 1px solid #ffffff;
                                      height: 45px !important;
                                      min-width: 100px;
                    
                                  }
                    
                                  #tablemaint td {
                                      text-align: left;
                                      /* border: 1px solid #3a3a3a; */
                                      height: 25px !important;                                                         
                                  }
                                  
                                  #tablemaint th {
                                      border: 1px solid #ddd;
                                      padding: 8px;
                                      border: 1px solid #ffffff;
                                      height: 25px !important;
                                      min-width: 100px;
                    
                                  }
                                  
                                  .tablea tr:nth-child(even) {
                                      background-color: #f2f2f2;
                                  }
                                  
                                  .tablea tr:hover {
                                      background-color: #ddd;
                                  }
                    
                                  .tablea th {
                                      /* height: 600px; */
                                      padding-top: 12px;
                                      padding-bottom: 12px;
                                      text-align: center;
                                      background-color: #7c4abe;
                                      color: white;
                                  }
                                  .tableFixHead {
                                      overflow-y: auto;
                                      height: 700px;
                                  }
                                  .tableFixHead thead:not([scope=row]) {
                                      position: sticky;
                                      top: 0;
                                  }
                                  .tablea {
                                      border-collapse: collapse;
                                      width: 100%;
                                  }
                                </style>  
                                <div class="tableFixHeadd " style="margin-top: 10px">
                                  <div class="page-content" style=" margin-top:10px !important;">
                                    <div class="loader" id="load" style="display: none; margin: auto;margin-top: 0px;"></div>
                                      <table id="tableb"  class="tablea" style="width:100%; margin: auto;" onclick="detail_ticket1()" >
                                        <thead>
                                          <tr>
                                           <th style="text-align: center;width: 300px;" >Yêu cầu công việc</th>
                                            <th style="text-align: center;width: 300px;" >Thời gian bắt đầu</th>
                                            <th style="text-align: center;width: 300px;" >Trạng thái</th>
                                            <th style="text-align: center;width: 300px;" >Ngày hoàn thành</th>
                                          </tr>                                         
                                          </thead>
                                          <tbody style="text-align: left;" >
                                          </tbody>
                                        </thead>
                                      </table>
                                  </div>
                                </div>
                              </div>
                            </fieldset>
                            <div class="modal-footer" style="margin-top:550px;">
                              <!-- <div class="col-xs-12 col-sm-4 col-md-4 ">
                                <div id="blockedit">
                                    <button class="btn" id="btdelete" style="margin-top: -5px; background-color: red;"><i class="fa fa-times"></i> Xóa</button>
                                    <button  class="btn" id="btsave" style="margin-top: -5px;"><i class="fa fa-save"></i> Lưu</button>  
                                </div> -->
                                <div id="blockadd" >
                                    <button  class="btn" id="btsave1" style="margin-top: -5px;"><i class="fa fa-save"></i> Lưu</button>
                                </div>
                                <div id="blockupda" >
                                  <button class="btn" id="btdelete" style="margin-top: -5px; background-color: red;"><i class="fa fa-times"></i> Xóa</button>
                                  <button  class="btn" id="btsave" style="margin-top: -5px;"><i class="fa fa-save"></i> Lưu</button>
                                </div>
                                
                            </div>
                          </div>
                    </div>
                </div>
              </div>
              <!-- <div class="w3-container">
                <div style="margin-top: 0px;" id="id03" class="w3-modal">
                    <div style="width: 800px; height: 500px;margin-top: 100px;border: solid 3px blueviolet;" class="w3-modal-content">
                        <div style="width: 100%; height: 100%;" class="w3-container">
                            <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <div class="modal-header">
                                <h5 class="modal-title" style="color: #7c4abe ; font-weight: bold;" id="namebox">Lịch bảo trì</h5>
                            </div>
                            <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">MÔ TẢ</p>
                            <input aria-required="true" style=" width:420px; margin-left: 35px !important;text-align: center; margin: auto; margin-top: 26px;" type="text" class="form-control col-90">                                                                 
                            <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">NGÀY BẮT ĐẦU</p>
                            <input aria-required="true" style=" width:420px; margin-left: 35px !important;text-align: center; margin: auto; margin-top: 26px;" type="text" class="form-control col-90"> 
                            <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">CHU KỲ BẢO DƯỠNG</p>
                            <input aria-required="true" style=" width:420px; margin-left: 35px !important;text-align: center; margin: auto; margin-top: 26px;" type="text" class="form-control col-90">    
                            <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">THỜI GIAN BẮT ĐẦUU</p>
                            <input aria-required="true" style=" width:420px; margin-left: 35px !important;text-align: center; margin: auto; margin-top: 26px;" type="text" class="form-control col-90">                                                                                                                               

                          </div>
                    </div>
                </div> -->
              </div>
            </div>
          </div>  
        </div>
      </main>
    <script type="text/javascript">
      function change_time(time){
        // return (new Date(time)).toLocaleString("en-US", { hour12: false },{timeZone: "Asia/Bangkok"});
        return (new Date(time)).toLocaleString('sv-SE');
        
      }
     
      function loaddata(){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("get", '/sche/loading_dataa', true);
        event.preventDefault(); //prevent default action 
        xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            var jsonObject = JSON.parse(this.responseText);
            var trHTML = '';
            var i;
            for (i = 0; i < jsonObject.length; i++) {
              var objs = jsonObject[i].objs;
              var W = jsonObject[i].W;
              var W2 = jsonObject[i].W2;
              var W3 = jsonObject[i].W3;
              var M = jsonObject[i].M;
              var M2 = jsonObject[i].M2;
              var Q = jsonObject[i].Q;
              var Q2 = jsonObject[i].Q2;
              var Y = jsonObject[i].Y;
              var note = jsonObject[i].note;
              var priority = jsonObject[i].priority;
              // var user = jsonObject[i].user;
              var timeupdate = jsonObject[i].timeupdate;
              // var timeupdatee= change_time(timeupdate)
              // var user = jsonObject[i].user;
              var respond = jsonObject[i].respond;
              // var CY=[W,W2,W3,M,M2,Q,Q2,Y]
              // var C=[]
              // for (var i=0;i<CY.length;i++){
              //   if (CY[i]!='') C.push(CY[i])
              // }

              trHTML += '<tr ><td style="text-align: center;">' + objs + '</td><td style="text-align: center;color: green;">' + W + '</td><td style="text-align: center;color: lightblue;">' + W2 + '</td><td style="text-align: center;color: blue;">' + W3+ '</td><td style="text-align: center;color: darkblue;">' + M + '</td><td style="text-align: center;color: purple;">' + M2 + '</td><td style="text-align: center;color: orange;">' + Q + '</td><td style="text-align: center;color: darkred;">' + Q2 + '</td><td style="text-align: center;color: red;">' + Y + '</td><td style="text-align: center;">' + priority + '</td><td style="text-align: center;">' + respond + '</td><td style="text-align: center;">' + note + '</td></tr>';
             }
          }
          // console.log(trHTML);
          $('#tablea tbody').html(trHTML);
        }
        xmlhttp.setRequestHeader("Content-type", "application/json");
        xmlhttp.send();       
      }
     
      function detail_ticket() {
        var table = document.getElementById("tablea");
        // document.getElementById('blockedit').style.display = 'block';
        // document.getElementById('blockadd').style.display = 'none';
        event.stopImmediatePropagation;
        if (table) {
          for (var i = 1; i < table.rows.length; i++) {
            table.rows[i].ondblclick = function(e) {
              tableText(this);
              }
          }
        }
      }
    
      function tableText(tableRow){

        document.getElementById("cycle").value="";
        document.getElementById("datestart").value="";
        document.getElementById('id02').style.display = 'block';    
        document.getElementById('blockupda').style.display = 'block';
        document.getElementById('blockadd').style.display = 'none';      
        // document.getElementById("ursche").value = tableRow.childNodes[11].innerText;
        document.getElementById("staffw").value = tableRow.childNodes[10].innerText;
        document.getElementById("levelsche").value = tableRow.childNodes[9].innerText;
        document.getElementById("note").value = tableRow.childNodes[11].innerText;
        document.getElementById("nameold").value = tableRow.childNodes[0].innerText;
     
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("post", '/sche/loadinforschee', true);
          event.preventDefault(); //prevent default action 
          var name = tableRow.childNodes[0].innerText;
          xmlhttp.setRequestHeader("Content-type", "application/json");
          data = {
              name: name
          };
          xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              console.log("hi")
              var data = JSON.parse (this.responseText);
              var trHTML='';
              if (data.length>0){
              // console.log(data[0].finish);
              var W=data[0].W;
              var W2=data[0].W2;
              var W3=data[0].W3;
              var M=data[0].M;
              var M2=data[0].M2;
              var Q=data[0].Q;
              var Q2=data[0].Q2;
              var Y=data[0].Y;
              // var c2= data[0].cylcle2;
              // var c3= data[0].cylcle3;
              // var l1= data[0].leadtime1;
              // var l2 = data[0].leadtime2;
              // var l3 = data[0].leadtime3;
              // trHTML += '<tr ><td style="text-align: center;">' + c1 + '</td><td style="text-align: center;">' + l1 + '</td><td style="text-align: center;"></td><td style="text-align: center;"></td></tr><tr ><td style="text-align: center;">' + c2 + '</td><td style="text-align: center;">' + l2 + '</td><td style="text-align: center;"></td><td style="text-align: center;"></td></tr><tr ><td style="text-align: center;">' + c3 + '</td><td style="text-align: center;">' + l3 + '</td><td style="text-align: center;"></td><td style="text-align: center;"></td></tr>';
              document.getElementById("ursche").value = data[0].user;
              if (W!='') {trHTML += '<tr ><td style="text-align: center;">'+"W"+'</td><td style="text-align: center;">' + W + '</td><td style="text-align: center;"></td><td style="text-align: center;"></td></tr>';}
              if (W2!='') {trHTML += '<tr ><td style="text-align: center;">'+"2W"+'</td><td style="text-align: center;">' + W2 + '</td><td style="text-align: center;"></td><td style="text-align: center;"></td></tr>';}
              if (W3!='') {trHTML += '<tr ><td style="text-align: center;">'+"3W"+'</td><td style="text-align: center;">' + W3 + '</td><td style="text-align: center;"></td><td style="text-align: center;"></td></tr>';}
              if (M!='') {trHTML += '<tr ><td style="text-align: center;">'+"M"+'</td><td style="text-align: center;">' + M + '</td><td style="text-align: center;"></td><td style="text-align: center;"></td></tr>';}
              if (M2!='') {trHTML += '<tr ><td style="text-align: center;">'+"2M"+'</td><td style="text-align: center;">' + M2 + '</td><td style="text-align: center;"></td><td style="text-align: center;"></td></tr>';}
              if (Q!='') {trHTML += '<tr ><td style="text-align: center;">'+"Q"+'</td><td style="text-align: center;">' + Q + '</td><td style="text-align: center;"></td><td style="text-align: center;"></td></tr>';}
              if (Q2!='') {trHTML += '<tr ><td style="text-align: center;">'+"2Q"+'</td><td style="text-align: center;">' + Q2 + '</td><td style="text-align: center;"></td><td style="text-align: center;"></td></tr>';}
              if (Y!='') {trHTML += '<tr ><td style="text-align: center;">'+"Y"+'</td><td style="text-align: center;">' + Y + '</td><td style="text-align: center;"></td><td style="text-align: center;"></td></tr>';}
            }
          }
          $('#tableb tbody').html(trHTML);          
          }
          xmlhttp.send(JSON.stringify(data));     
      
      }

      document.getElementById('btadd').addEventListener('click', function() {
        document.getElementById('blockupda').style.display = 'none';
        document.getElementById('blockadd').style.display = 'block';
        $('#tableb tbody').html(''); 
        document.getElementById("cycle").value="";
        document.getElementById("datestart").value="";
        document.getElementById('id02').style.display = 'block';
        document.getElementById("ursche").value = document.getElementById("user").innerHTML ;
        document.getElementById("staffw").value = "";
        document.getElementById("levelsche").value = "";
        document.getElementById("note").value = "";
        document.getElementById("nameold").value = "";
      })

      document.getElementById('btaddsche').addEventListener('click', function() {
        var table = document.getElementById("tableb");
        var rows = table.getElementsByTagName('tr');
        console.log(rows.length);
        if (rows.length >3) {return}
        // var row = table.insertRow(rows.length);
        var cycle=document.getElementById("cycle").value;
        var date=document.getElementById("datestart").value;
        $('#tableb tbody').append('<tr><td  style="text-align: center;">'+cycle+'</td><td  style="text-align: center;">'+date+'</td><td  style="text-align: center;"></td><td  style="text-align: center;"></td></tr>');       
      })

      document.getElementById('btsave1').addEventListener('click', function() {
        var user=document.getElementById("ursche").value;
        var staff= document.getElementById("staffw").value;
        var level= document.getElementById("levelsche").value;
        var note= document.getElementById("note").value;
        var nameold=document.getElementById("nameold").value;
        var table = document.getElementById("tableb");
        var rows = table.getElementsByTagName('tr');
        var cy=[]; da=[];
        for ( var i = 1; i < rows.length; i++) {
          var a= rows[i].cells[0].innerText;
          // console.log(a);
          if (a.length==2){ a=a.split("").reverse().join("");console.log(a);}
            cy.push(a);  
            // if (cy[i]==cy[i-1]||cy[0]==cy[2]||cy[1]==cy[2]) { alert("LỊCH BẢO TRÌ BỊ TRÙNG !!!"); return}              
            da.push(rows[i].cells[1].innerText);
          }
        if (rows.length==1) { alert("LỊCH BẢO TRÌ TRỐNG !!!"); return}
        
        
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("post", '/sche/insertt', true);
        event.preventDefault(); //prevent default action 
       
        xmlhttp.setRequestHeader("Content-type", "application/json");
        data = {
          c1: cy[0],
          c2: cy[1],
          c3: cy[2],
          d1: da[0],
          d2: da[1],
          d3: da[2],
          user: user,
          staff:staff,
          note: note,
          nameold: nameold,
          level: level
        };
        xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var data = this.responseText;

          if (data == "ok") {
            loaddata()
            alert("ĐÃ CẬP NHẬT THÀNH CÔNG");
           $('#tableb tbody').html('');
           console.log('đã xóa')
          } else {
            alert("Có lỗi rồi!!!");
          }
                document.getElementById('id02').style.display = 'none';
              }
          }
          xmlhttp.send(JSON.stringify(data));
          
      })

      function detail_ticket1() {
            var table = document.getElementById("tableb");
            // document.getElementById('file').value="";
            event.stopImmediatePropagation;
            if (table) {
                for (var i = 1; i < table.rows.length; i++) {
                    table.rows[i].ondblclick = function(e) {
                        deleText(this);
                    }
                }
            }
      }

      function deleText(tableRow) {
        var table = document.getElementById("tableb");
        var rows = table.getElementsByTagName('tr');
        console.log(rows.length);
        var table = document.getElementById("tableb");
        var rows = table.getElementsByTagName('tr');
        for ( var i = 1; i < rows.length; i++) {
          if (rows[i].cells[0].innerText== tableRow.childNodes[0].innerText){
            document.getElementById("tableb").deleteRow(i);
        
          };
        }
        console.log("----");
        console.log(rows.length);
      }
          
      document.getElementById('btsave').addEventListener('click', function() {
       
        var user=document.getElementById("ursche").value;
        var staff= document.getElementById("staffw").value;
        var level= document.getElementById("levelsche").value;
        var note= document.getElementById("note").value;
        var nameold=document.getElementById("nameold").value;
        var table = document.getElementById("tableb");
        var rows = table.getElementsByTagName('tr');
        var cy=[]; da=[];
        for ( var i = 1; i < rows.length; i++) {
          var a= rows[i].cells[0].innerText;
          if (a.length==2){ a=a.split("").reverse().join("");}
           cy.push(a);                
           da.push(rows[i].cells[1].innerText);
        }
        if (rows.length==1) { alert("LỊCH BẢO TRÌ TRỐNG !!!"); return}
        // if (cy[0]==cy[1]||cy[0]==cy[2]||cy[1]==cy[2]) { alert("LỊCH BẢO TRÌ BỊ TRÙNG !!!"); return}
       
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("post", '/sche/updatee', true);
        event.preventDefault(); //prevent default action 

       
        xmlhttp.setRequestHeader("Content-type", "application/json");
        data = {
         c1: cy[0],
         c2: cy[1],
         c3: cy[2],
         d1: da[0],
         d2: da[1],
         d3: da[2],
         user: user,
         staff:staff,
         note: note,
         nameold: nameold,
         level: level
       };
       xmlhttp.onreadystatechange = function() {
       if (this.readyState == 4 && this.status == 200) {
         var data = this.responseText;
         if (data == "ok") {
           loaddata()
           alert("ĐÃ CẬP NHẬT THÀNH CÔNG");
           $('#tableb tbody').html('');
           console.log('đã xóa')
          } else {
            alert("Có lỗi rồi!!!");
          }
               document.getElementById('id02').style.display = 'none';
             }
         }
         xmlhttp.send(JSON.stringify(data));   
       })
 
      document.getElementById('btdelete').addEventListener('click', function() {
        var r = confirm("Bạn có chắc muốn xóa không???");
            if (r == true) {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("post", '/schedule/deletee', true);
                event.preventDefault(); //prevent default action 
            
                var name=document.getElementById("nameold").value;
                
                xmlhttp.setRequestHeader("Content-type", "application/json");
                data = {
                    name : name      
                };
                xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = this.responseText;
                    if (data == "ok") {
                        loaddata()
                        alert("ĐÃ CẬP NHẬT THÀNH CÔNG");
                    } else {
                        alert("Có lỗi rồi!!!");
                    }
                        document.getElementById('id02').style.display = 'none';
                    }
                }
                xmlhttp.send(JSON.stringify(data));
            }
            else {
                return
            }
      })
      
    </script> 
  </body>
</html>




<div  style="overflow-x: auto; box-shadow: 1px 1px 1px 1px #AAA;height: 370px;width: 99%;margin: auto; background-color: rgb(255, 255, 255); margin-top: 10px;  border: solid 2px rgb(189, 189, 189) ;" >
  <div style="margin-top: 5px;">
    <div class="col-md-6" style="padding-left: 20px;"><h5>TỔNG HỢP CÔNG VIỆC</h5></div>
    <input class="col-md-6 form-control" type="date" id="date" name="birthday"  style="float: right;margin-right: 20px; width: 180px;margin-left: 15px;" onchange="wo()">
    <input class="col-md-6 form-control" type="date" id="date1" name="birthday"  style="float: right;margin-right: 20px; width: 180px;margin-left: 15px;" onchange="wo()">
  </div>
  <hr style="margin-top: 45px;color: rgb(71, 6, 252) !important;">
  <style>

    .card {
      background: #fff;
      display: inline-block;
      height: 220px;
      margin: 1rem;
      position: relative;
      width: 300px;
      margin-left: 52px;
      margin-top: 30px;
    }

    
    .card1 {
      background: #fff;
      border-radius: 1px;
      display: inline-block;
      height: 50px;
      margin: 1rem;
      position: relative;
      width: 65px;
      margin-left: 13px;
    }

    .card-1 {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .card-1:hover {
      box-shadow: 0 14px 18px rgb(0 0 0 / 15%), 0 10px 10px rgb(0 0 0 / 15%);
    }
    </style>
    <div style="text-align: center;">
      <div class="card card-1" style="margin-left: 10px;background-color: #6495ED">
        <div style="background-color: #0000CD; color: #fff; text-align: center;height: 20px;"></div>
        <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">ĐÃ PHÂN CÔNG</p>
        <p style="font-size: 50px;margin-top: 30px;font-size: 50px;text-align: center;font-family: 'Roboto';" id="n1"></p>
        <div style="align-items: center;">
          <div class="card1 card-1" style="margin-left: 20px;" >
            <div style="background-color: #0000CD; color: #fff; text-align: center;height: 20px;">PM</div>
            <!-- <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">PM</p> -->
            <p style="    margin-top: 5px;font-size: 20px;text-align: center;font-family: 'Roboto';" id="n2"></p>
          </div>
          <div class="card1 card-1">
            <div style="background-color: #0000CD; color: #fff; text-align: center;height: 20px;">CM</div>
            <!-- <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">PM</p> -->
            <p style="    margin-top: 5px;font-size: 20px;text-align: center;font-family: 'Roboto';" id="n3"></p>
          </div>
          <div class="card1 card-1">
            <div style="background-color: #0000CD; color: #fff; text-align: center;height: 20px;">SE</div>
            <!-- <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">PM</p> -->
            <p style="    margin-top: 5px;font-size: 20px;text-align: center;font-family: 'Roboto';" id="n4"></p>
          </div>
        </div>
      </div>
        
      <div class="card card-1" style="background-color: #DCDCDC;">
        <div style="background-color: #808080; color: #fff; text-align: center;height: 20px;"></div>
        <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">HOÀN THÀNH</p>
        <p style="font-size: 50px;margin-top: 30px;font-size: 50px;text-align: center;font-family: 'Roboto';" id="n5"></p>
        <div style="align-items: center;">
          <div class="card1 card-1" style="margin-left: 20px;" >
            <div style="background-color: #808080; color: #fff; text-align: center;height: 20px;">PM</div>
            <!-- <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">PM</p> -->
            <p style="    margin-top: 5px;font-size: 20px;text-align: center;font-family: 'Roboto';" id="n6"></p>
          </div>
          <div class="card1 card-1">
            <div style="background-color: #808080; color: #fff; text-align: center;height: 20px;">CM</div>
            <!-- <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">PM</p> -->
            <p style="    margin-top: 5px;font-size: 20px;text-align: center;font-family: 'Roboto';" id="n7"></p>
          </div>
          <div class="card1 card-1">
            <div style="background-color: #808080; color: #fff; text-align: center;height: 20px;">SE</div>
            <!-- <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">PM</p> -->
            <p style="    margin-top: 5px;font-size: 20px;text-align: center;font-family: 'Roboto';" id="n8"></p>
          </div>
        </div>
      </div>
        
      <div class="card card-1" style="background-color: 	#FFFF00;">
        <div style="background-color: 	#FFD700; color: #fff; text-align: center;height: 20px;"></div>
        <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">ĐANG THỰC HIỆN</p>
        <p style="font-size: 50px;margin-top: 30px;font-size: 50px;text-align: center;font-family: 'Roboto';" id="n9"></p>
        <div style="align-items: center;">
          <div class="card1 card-1" style="margin-left: 20px;" >
            <div style="background-color: #FFD700; color: #fff; text-align: center;height: 20px;">PM</div>
            <!-- <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">PM</p> -->
            <p style="    margin-top: 5px;font-size: 20px;text-align: center;font-family: 'Roboto';" id="n10"></p>
          </div>
          <div class="card1 card-1">
            <div style="background-color: #FFD700; color: #fff; text-align: center;height: 20px;">CM</div>
            <!-- <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">PM</p> -->
            <p style="    margin-top: 5px;font-size: 20px;text-align: center;font-family: 'Roboto';" id="n11"></p>
          </div>
          <div class="card1 card-1">
            <div style="background-color: #FFD700; color: #fff; text-align: center;height: 20px;">SE</div>
            <!-- <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">PM</p> -->
            <p style="    margin-top: 5px;font-size: 20px;text-align: center;font-family: 'Roboto';" id="n12"></p>
          </div>
        </div>
      </div>

      <div class="card card-1"  style="background-color: 		#FA8072;">
        <div style="background-color: #FF0000; color: #fff; text-align: center;height: 20px;"></div>
        <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">CHƯA PHÂN CÔNG</p>
        <p style="font-size: 50px;margin-top: 30px;font-size: 50px;text-align: center;font-family: 'Roboto';" id="n13"></p>
        <div style="align-items: center;">
          <div class="card1 card-1" style="margin-left: 20px;" >
            <div style="background-color: #FF0000; color: #fff; text-align: center;height: 20px;">PM</div>
            <!-- <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">PM</p> -->
            <p style="    margin-top: 5px;font-size: 20px;text-align: center;font-family: 'Roboto';" id="n14"></p>
          </div>
          <div class="card1 card-1">
            <div style="background-color: #FF0000; color: #fff; text-align: center;height: 20px;">CM</div>
            <!-- <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">PM</p> -->
            <p style="    margin-top: 5px;font-size: 20px;text-align: center;font-family: 'Roboto';" id="n15"></p>
          </div>
          <div class="card1 card-1"">
            <div style="background-color: #FF0000; color: #fff; text-align: center;height: 20px;">SE</div>
            <!-- <p style="color: black;margin-top: 20px;font-size: 30px;text-align: center;">PM</p> -->
            <p style="    margin-top: 5px;font-size: 20px;text-align: center;font-family: 'Roboto';" id="n16"></p>
          </div>
        </div>
      </div>
    </div>    
</div>