<table id="tablea" class="table table-striped table-hover" onclick="detail_ticket()">
  <thead class="main-header text-center">
    <tr>
      <th style="width: 90px">ID</th>
      <th  style = "width:190px">HỌ VÀ TÊN</th>
      <th style = "width: 400px">KỸ NĂNG CHUYÊN MÔN</th>
      <th style="width: 100px;">BẬC THỢ</th>                     
      <th  style = "width: 550px">CHỨC VỤ</th>
      <th style="width: 200px"> TỔ ĐỘI</th>
    </tr>
  </thead>
  <tbody style="position:absolute; text-align: center; margin-top:3.5% !important;" >
  </tbody>
</table>

<style>
  table {
    border: 1px solid black;
    font-weight: bold;
    font-size: 1vw;
  }

  thead {
    margin-top: 3%;
  }
</style>