<div class='table-cont' id='table-cont'>
<table id="tablea" class="table table-hover" onclick="detail_ticket()" style="margin-top: 1%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>HỌ VÀ TÊN</th>
      <th>KỸ NĂNG CHUYÊN MÔN</th>
      <th>BẬC THỢ</th>                     
      <th>CHỨC VỤ</th>
      <th> TỔ ĐỘI</th>
    </tr>
  </thead>
  <tbody style="background-color: white">
  </tbody>
</table>
</div>
<style>
  table {
    border: 1px solid black;
    font-weight: bold;
    font-size: 1vw;
  }
</style>