<div class="container" style="position: relative;z-index: 3;">
    <div class="row">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-expanded="false">
                <span>TRẠNG THÁI CÔNG VIỆC</span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li> <button class="btn btn-outline-primary" id="Tất cả" value="aa" onclick="searcha(this.id)">Tất
                        cả</button></li>
                <li><button class="btn btn-outline-primary" id="Chưa phân công" onclick="searcha(this.id)">Chưa phân
                        công</button>
                </li>
                <li><button class="btn btn-outline-primary" id="Đang thực hiện" onclick="searcha(this.id)">Đang thực
                        hiện</button>
                </li>
                <li><button class="btn btn-outline-primary" id="Hoàn thành" onclick="searcha(this.id)">Hoàn
                        thành</button>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle mt-2" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-expanded="false">
                <span>LOẠI CÔNG VIỆC</span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><button class="btn btn-outline-primary" id="Bảo dưỡng định kỳ" onclick="searchb(this.id)">Bảo dưỡng
                        định
                        kỳ</button></li>
                <li><button class="btn btn-outline-primary" id="Dịch vụ" onclick="searchb(this.id)">Dịch vụ</button>
                </li>
                <li><button class="btn btn-outline-primary" id="Sửa chữa" onclick="searchb(this.id)">Sửa chữa</button>
                </li>
            </ul>
        </div>
        <div class="dropdown" aria-labelledby="dropdownMenuButton">
            <button class="btn btn-primary dropdown-toggle mt-2" data-toggle="collapse" data-target="#usreq">
                <span>NGƯỜI GIAO</span>
            </button>
            <div id="usreq">
                <%-name1%>
            </div>
        </div>
        <div class="dropdown" aria-labelledby="dropdownMenuButton">
            <button class="btn btn-primary dropdown-toggle mt-2" data-toggle="collapse" data-target="#usw">
                <span>NGƯỜI NHẬN</span>
            </button>
            <div id="usw">
                <%-name2%>
            </div>
        </div>


    </div>
</div>
<style>
    #usreq {
        max-height: 400px;
        overflow: scroll;
    }

    #usw {
        max-height: 100% !important;
        margin-top: 1%;
        overflow: scroll;
    }

    .dropdown-menu.show {
        min-width: 100%;
        min-height: 300px;
    }

    span {
        font-size: 1vw;
    }
</style>