<div class="col-15" style=" height: 805px; background-color: rgb(255, 255, 255); margin-top: 3px;border-bottom: solid 1px rgb(170, 170, 170) ; ">
    <button class="btnn" data-toggle="collapse" data-target="#sttwork">TRẠNG THÁI CÔNG VIỆC<i style=" float: right;margin-top: 5px;"class="fa fa-sort-desc"></i></button>
    <div id="sttwork" class="collapse">
        <button class="btnnn " id="Tất cả" value="aa" onclick="searcha(this.id)">Tất cả</button>
        <button class="btnnn " id="Chưa phân công" onclick="searcha(this.id)">Chưa phân công</button>
        <button class="btnnn " id="Đang thực hiện" onclick="searcha(this.id)">Đang thực hiện</button>
        <button class="btnnn " id="Hoàn thành" onclick="searcha(this.id)">Hoàn thành</button>
    </div>

    <button class="btnn" data-toggle="collapse" data-target="#tywork">LOẠI CÔNG VIỆC<i style=" float: right;margin-top: 5px;"class="fa fa-sort-desc"></i></button>
    <div id="tywork" class="collapse">
        <button class="btnnn " id="Bảo dưỡng định kỳ" onclick="searchb(this.id)">Bảo dưỡng định kỳ</button>
        <button class="btnnn " id="Dịch vụ" onclick="searchb(this.id)">Dịch vụ</button>
        <button class="btnnn " id="Sửa chữa" onclick="searchb(this.id)">Sữa chữa</button>
    </div>
    <button class="btnn" data-toggle="collapse" data-target="#usreq">NGƯỜI GIAO<i style=" float: right;margin-top: 5px;"class="fa fa-sort-desc"></i></button>
    <div id="usreq" class="collapse">
        <%-name1%>
    </div>
    <button class="btnn" data-toggle="collapse" data-target="#usw">NGƯỜI NHẬN<i style=" float: right;margin-top: 5px;"class="fa fa-sort-desc"></i></button>
    <div id="usw" class="collapse">
        <%-name2%>
    </div>
</div>