<div class='table-cont' id='table-cont'>
    <table id="tablea" class="table table-hover text-center" style="border: 1px solid;" onclick="detail_ticket()">
        <thead>
            <tr>
                <th rowspan="2">MÃ CÔNG VIỆC
                </th>
                <th rowspan="2">CÔNG VIỆC</th>
                <th colspan="2">THỜI GIAN THỰC
                    HIỆN</th>
                <th rowspan="2">NGƯỜI GIAO</th>
                <th rowspan="2">NGƯỜI NHẬN</th>
                <th rowspan="2">TRẠNG THÁI</th>
                <th rowspan="2">TIẾN ĐỘ</th>
            </tr>
            <tr>
                <th>BẮT ĐẦU</th>
                <th>KẾT THÚC</th>
            </tr>
        </thead>
        <tbody style="background-color: white;">
        </tbody>
    </table>
</div>

<style>
    table {
        border: 1px solid black;
        font-weight: bold;
        font-size: 1vw;
    }
</style>