<div class="custom-table">
    <table id="tablea" class="table table-hover text-center" style="border: 1px solid;" onclick="detail_ticket()">
            <thead style="position:'fixed'">
                <tr>
                    <th rowspan="2">MÃ CÔNG VIỆC
                    </th>
                    <th rowspan="2">CÔNG VIỆC</th>
                    <!-- <th style="text-align: center;width: 200px;" rowspan="2">NỘI DUNG CÔNG VIỆC</th> -->
                    <th colspan="2">THỜI GIAN THỰC
                        HIỆN</th>
                    <th rowspan="2">NGƯỜI GIAO</th>
                    <th rowspan="2">NGƯỜI NHẬN</th>
                    <th rowspan="2">TRẠNG THÁI</th>
                    <th rowspan="2">TIẾN ĐỘ</th>
                    <!-- <th style="text-align: center;width: 5px;" rowspan="2">IN</th> -->
                </tr>
                <tr>
                    <th>BẮT ĐẦU</th>
                    <th>KẾT THÚC</th>
                </tr>
            </thead>
            <tbody style="font-weight: bold;">
    
            </tbody>
        </div>
    </table>
</div>

<style>
    .custom-table {
       max-height: 11%;
       overflow: scroll;
    }

    thead {
        background-color: #f1cc65;
    }
</style>