<div class="modal fade" id="id02" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container fluid">
                    <div class="container">
                        <div class="modal-header">
                            <h3 class="modal-title" style="color: #7c4abe ; font-weight: bold;">Yêu cầu</h3>
                        </div>
                        <div class="card">
                            <div class="container">
                                <h3><b>Thông tin người yêu cầu</b></h3>
                                <input aria-required="true" style="display: none;" type="text" id="idreq"
                                    class="form-control">
                                <div class="row">
                                    <div class="col-6">
                                        <span>Bộ phận yêu cầu</span>
                                        <input aria-required="true" type="text" id="departreq" class="form-control">
                                    </div>
                                    <div class="col-6">
                                        <span>Người yêu
                                            cầu</span>
                                        <input aria-required="true" type="text" id="staffreq" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-6">
                                        <span>Email</span>
                                        <input aria-required="true" type="text" id="emailreq" class="form-control">
                                    </div>
                                    <div class="col-6">
                                        <span>SĐT</span>
                                        <input aria-required="true" type="text" id="pnum" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card">
                        <div class="container">
                            <h3>Thông tin yêu cầu</h3>
                            <div class="row">
                                <div class="col-4">
                                    <span>Loại yêu
                                        cầu</span>
                                    <select aria-required="true" type="text" id="typereq" class="form-control">
                                        <option>Sửa chữa</option>
                                        <option>Dịch vụ</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <span>Mức độ</span>
                                    <select aria-required="true" id="levereq" type="text" class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <span>Ngày hoàn
                                        thành</span>
                                    <input class="form-control" type="date" id="timeendreq" name="birthday">
                                </div>
                            </div>
                            <span>Nội dung
                            </span>
                            <textarea aria-required="true" type="text" id="contentreq" class="form-control"> </textarea>
                            <span>Địa điểm
                            </span>
                            <input aria-required="true" type="text" id="placereq" class="form-control">


                            <input aria-required="true" style="display: none;" type="text" id="hideeq"
                                class="form-control">
                            <input aria-required="true" style="display: none;" type="text" id="hidedate"
                                class="form-control">
                            <input aria-required="true" style="display: none;" type="text" id="hidecycle"
                                class="form-control">
                            <button class="btn btn-success mt-3 mb-2" id="btdistri"><i
                                    class="fa fa-calendar-plus-o"></i> Giao
                                việc</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>