<script>
    $(document).ready(() => {
        init();

        var tableCont = document.querySelector('#table-cont')
        /**
         * scroll handle
         * @param {event} e -- scroll event
         */
        function scrollHandle(e) {
            var scrollTop = this.scrollTop;
            this.querySelector('thead').style.transform = 'translateY(' + scrollTop + 'px)';
        }

        tableCont.addEventListener('scroll', scrollHandle)

    })

    init = () => {
        getData();
    }

    getData = () => {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/v1/getamtdata",
            type: "GET",
        }).done((data) => {
            console.log(data);
            $.each(data, (index, item) => {
                $("#amt_data tbody").append(
                    `
                <tr ondblclick="emloyeeDetail(${item.ID})">
                    <td>${item.ID}</td>
                    <td>${item.Name}</td>
                    <td>${item.Dept}</td>
                    <td>${item.Line}</td>
                    <td>${item.Shift}</td>
                </tr>
                 `
                );
            });
        }).fail((err) => {
            console.log(err);
        })
    }


    emloyeeDetail = (id) => {
        $("#employee_detail").modal('show')
      $.ajax({
        headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/v1/getemployeedetail/" + id,
            type: "GET",
      }).done((data) =>{
          $.each(data, (index,item) => {
              $("#id_employee").val(`${item.ID}`);
              $("#name_employee").val(`${item.Name}`);
              $("#shift_employee").val(`${item.Shift}`)
              $("#line_employee").val(`${item.Line}`);
              $("#operation_name").val(`${item.OPERATION_NAME}`);
              $("#float_eff").val(`${item.FLOAT_EFF}`);
              $("#date").val(`${item.DATE}`);
          })
      }).fail((e) => {
          console.log("fail",e)
      })
    }

    saveTagetsFloatEff = () => {
        let employeetagetstracking = {
            ID : $("#id_employee").val(),
            OPERATION_NAME: $("#operation_name").val(),
            TAGETS: $("#tagets").val(),
            DATE: $("#date").val(),
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/v1/employeetagetstracking/",
            type: "POST",
            data: JSON.stringify(employeetagetstracking)
        }).done((data) => {
            console.log(data)
        }).fail((err) => {
            console.log("ERROR",err)
        })
    }

</script>