<script>
    $(document).ready(() => {
        init();

        var tableCont = document.querySelector('#table-cont')
        /**
         * scroll handle
         * @param {event} e -- scroll event
         */
        function scrollHandle(e) {
            var scrollTop = this.scrollTop;
            this.querySelector('thead').style.transform = 'translateY(' + scrollTop + 'px)';
        }

        tableCont.addEventListener('scroll', scrollHandle)

    })

    init = () => {
        getData();
    }

    getData = () => {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/v1/getamtdata",
            type: "GET",
        }).done((data) => {
            console.log(data);
            $.each(data, (index, item) => {
                $("#amt_data tbody").append(
                    `
                <tr ondblclick="emloyeeDatail(${item.ID})">
                    <td style="text-align: center;">${item.ID}</td>
                    <td style="text-align: center;">${item.Name}</td>
                    <td style="text-align: center;">${item.Dept}</td>
                    <td style="text-align: center;">${item.Line}</td>
                    <td style="text-align: center;">${item.Shift}</td>
                </tr>
                 `
                );
            });
        }).fail((err) => {
            console.log(err);
        })
    }

    emloyeeDatail = (id) => {
        alert(id);
    }
</script>