<div class="modal fade" id="employee_detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thay đổi thông tin</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-md-12">
                                <span>ID</span>
                                <input type="text" class="form-control" id="id_employee" disabled>
                            </div>
                            <div class="col-md-12">
                                <span>Họ và tên: </span>
                                <input type="text" class="form-control" id="name_employee" disabled>
                            </div>
                            <div class="col-md-12">
                                <span>Ca</span>
                                <input type="text" class="form-control" id="shift_employee" disabled>
                            </div>
                            <div class="col-md-12">
                                <span>Chuyền</span>
                                <input type="text" class="form-control" id="line_employee" disabled>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-md-12">
                                <span>Công đoạn:</span>
                                <input type="text" class="form-control" id="operation_name" required>
                            </div>
                            <div class="col-md-12">
                                <span>Thời gian đào tạo:</span>
                                <input type="text" class="form-control" id="time_training" required>
                            </div>
                            <div class="col-md-12">
                                <span>Ngày thay đổi:</span>
                                <input type="text" class="form-control" id="reduce_date"required>
                            </div>
                            <div class="col-md-12">
                                <span>Ghi chú:</span>
                                <input type="text" class="form-control" id="note" required>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary" onclick="() => {$(this).modal('hide')}" data-bs-dismiss="modal">Hủy</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" onclick = "saveChangeInfomationOffEmployee()">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>