<div class="modal fade" id="handle_file" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-md-12">
                                <form id="upload_file_tagets" method="post" action="/api/amt/uploadfiletagetstranningtracking" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-12">
                                           <label for="tagets_file">File</label>
                                            <input type="file" id="tagets_file" name="tagets_file">
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <button onclick="updload_file()" type="button" class="btn btn-primary">Tải lên</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary">Xuất file</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>