<div class='table-cont' id='table-cont'>
    <table id='amt_data' class="table table-hover text-center">
        <thead class="text-center">
            <tr>
                <th>ID</th>
                <th>Họ và Tên</th>
                <th>Tuần vào</th>
                <th>Nhóm chuyền</th>
                <th>Công đoạn</th>
                <th>Ca</th>

                
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<style>
    .table-cont {
        /**make table can scroll**/
        max-height: 800px;
        overflow: auto;
        /** add some style**/
        /*padding: 2px;*/
        background: #ddd;
        margin: 20px 10px;
        box-shadow: 0 0 1px 3px #ddd;
    }

    thead {
        background-color: #ddd;
    }

    table {
        border: 1px solid black;
        font-weight: bold;
        font-size: 1vw;
    }
</style>