<div
style="box-shadow: 1px 1px 1px 1px #AAA;height: 100%;width: 98%;margin: auto; background-color: rgb(255, 255, 255); border: solid 2px rgb(189, 189, 189) ;">
<div style="margin-top: 5px;">
  <div class="col-md-6" style="padding-left: 20px;">
    <h5>KẾ HOẠCH BẢO TRÌ</h5>
  </div>
  <input class="col-md-6 form-control" type="date" id="date2" name="birthday"
    style="float: right;margin-right: 20px; width: 180px;margin-left: 15px;" onchange="pm()">
</div>
<hr style="margin-top: 45px;color: rgb(71, 6, 252) !important;">

<div class="tableFixHead">
  <div class="page-content">
    <table id="tablepm" class="tablea" style="width:95%;margin: auto;" onclick="detail_ticketpm()">
      <thead>
        <tr>
          <th style="text-align: center;width: 150px;">THIẾT BỊ BẢO TRÌ</th>
          <th style="text-align: center;width: 80px;">CHU KỲ</th>
          <th style="text-align: center;width: 80px;">NGƯỜI BẢO TRÌ</th>
          <th style="text-align: center;width: 80px;">TRẠNG THÁI</th>
        </tr>
      </thead>
      <tbody style="text-align: left;">
      </tbody>
    </table>
  </div>
</div>
</div>