<div class="card" style="min-height:50%">
  <div class="container">
    <div class="row">
      <div class="col-7 mt-2" style="text-align: center;">
        <p style="font-weight: bold; font-size:2vw">KẾ HOẠCH BẢO TRÌ</p>
      </div>
      <div class="col-5 mt-2" style="text-align:right; font-size:2vw">
        <input class="col-md-6 form-control" type="date" id="date2" name="birthday" onchange="pm()">
      </div>
    </div>
    <div class="col-12 mt-5">
      <table class="table table-striped table-hover" style="font-size:1vw" id="tablepm" onclick="detail_ticketpm()">
        <thead style="background-color: #ffba00">
          <tr>
            <th>THIẾT BỊ BẢO TRÌ</th>
            <th>CHU KỲ</th>
            <th>NGƯỜI BẢO TRÌ</th>
            <th>TRẠNG THÁI</th>
          </tr>
        </thead>
        <tbody>
          <!-- hiển thị thông tin -->
        </tbody>
      </table>
    </div>
  </div>
</div>