<div class="card">
  <div class="row" style="background-color: #17a2b8">
    <div class="col-7 mt-2">
      <h2>KẾ HOẠCH BẢO TRÌ</h2>
    </div>
    <div class="col-5 mt-2" style="text-align:right; font-size:2vw">
      <input class="col-md-6 form-control" type="date" id="date2" name="birthday" onchange="pm()">
    </div>
  </div>
  <div class="col-12 mt-5">
    <div class='table-cont' id='table-cont'>
      <table class="table table-hover" style="font-size:1vw" id="tablepm" onclick="detail_ticketpm()">
        <thead>
          <tr>
            <th>THIẾT BỊ BẢO TRÌ</th>
            <th>CHU KỲ</th>
            <th>NGƯỜI BẢO TRÌ</th>
            <th>TRẠNG THÁI</th>
          </tr>
        </thead>
        <tbody style="background-color: white">
          <!-- hiển thị thông tin -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
  .table-cont {
    /**make table can scroll**/
    max-height: 800px;
    overflow: auto;
    /** add some style**/
    /*padding: 2px;*/
    background: #ddd;
    margin: 20px 10px;
    box-shadow: 0 0 1px 3px #ddd;
  }

  thead {
    background-color: #ddd;
  }
</style>