<div
    style="box-shadow: 1px 1px 1px 1px #AAA;height: 100%;width: 98%;margin: auto; background-color: rgb(255, 255, 255); border: solid 2px rgb(189, 189, 189) ;">
    <div style="margin-top: 5px;">
        <div class="col-md-6" style="padding-left: 20px;">
            <h5>YÊU CẦU CẤP PHÁT</h5>
        </div>
        <input class="col-md-6 form-control" type="date" id="date3"
            style="float: right;margin-right: 20px; width: 180px;margin-left: 15px;" onchange=" loadchart()">
    </div>
    <div>
        <hr style="margin-top: 45px;color: rgb(71, 6, 252) !important;">
        <!-- <canvas id="myChart" style="max-width:400px;height: 300px;margin-top: 35px;float: left;"></canvas> -->
        <canvas id="myChart" style="max-width:550px;height: 330px;margin-top: 0px;margin: auto;"></canvas>
    </div>
</div>