<div class="card" style="min-height:50%">
    <div class="container">
      <div class="row mt-2">
        <div class="col-7" style="text-align: center;">
          <p style="font-weight: bold; font-size:2vw">YÊU CẦU CẤP PHÁT</p>
        </div>
        <div class="col-5" style="text-align:right; font-size:2vw">
          <input class="col-md-6 form-control" type="date" id="date3" name="birthday" onchange=" loadchart()"">
        </div>
      </div>
      <div class="col-12 mt-5">
        <canvas id="myChart" style="max-width:100%;height: 100%;margin: auto;"></canvas>
      </div>
    </div>
  </div>