<div class="card" style="height: 97%;">
    <div class="container">
      <div class="row" style="background-color: #ffba00">
        <div class="col-7" style="text-align: center;">
          <h2>YÊU CẦU CẤP PHÁT</h2>
        </div>
        <div class="col-5" style="text-align:right; font-size:2vw">
          <input class="col-md-6 form-control" type="date" id="date3" name="birthday" onchange=" loadchart()"">
        </div>
      </div>
      <div class="col-12 mt-5">
        <canvas id="myChart" style="max-width:100%;height: 310%;margin: auto;"></canvas>
      </div>
    </div>
  </div>