<div class="card text-center" style="height: 97%;">
  <div class="card-title">
    <div class="row" style="background-color: #17a2b8">
      <div class="col-md-4">
        <h2>Tổng hợp công việc</h2>
      </div>
      <div class="col-md-4">
        <input type="date" id="date1" name="birthday" onchange="wo()" />
      </div>
      <div class="col-md-4">
        <input type="date" id="date" name="birthday" onchange="wo()" />
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="height: 100%;">
          <div class="card-title">
            <h2>Đang thực hiện</h2>
          </div>
          <div class="card-body">
            <h2 id="n9" style="margin-top:14%; font-size: 2.5vw;"></h2>
            <div class="row" style="margin-top:30%">
              <div class="col-md-6">
                <div class="card-content">
                  <h3>PM</h3>
                  <span style="margin-top:10%" id="n10"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-content">
                  <h3>SE</h3>
                  <span style="margin-top:10%" id="n12"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="height: 100%;">
          <div class="card-title">
            <h2>Chưa Phân Công</h2>
          </div>
          <div class="card-body">
            <h2 id="n13" style="margin-top:14%;font-size: 2.5vw;"></h2>
            <div class="row" style="margin-top:30%">
              <div class="col-md-6">
                <div class="card-content">
                  <h3 style="color:black">PM</h3>
                  <span style="color:black" id="n14"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-content">
                  <h3 style="color:black">SE</h3>
                  <span style="color:black" id="n16"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  h2 {
    font-weight: bold;
    font-size: 1.5vw
  }

  h3{
    font-weight: bold;
    font-size: 2vw
  }

  span {
    font-weight: bold;
    font-size:1.2vw
  }

</style>