<!-- <style>
  html, body { 
    line-height: 30px !important;
  }
    .mdl-layout__drawer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 240px;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    background: #fafafa;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    color: #424242;
    overflow: visible;
    overflow-y: auto;
    z-index: 1;
}
.mdl-layout__drawer-button {
    display: none;
    position: absolute;
    height: 48px;
    width: 48px;
    border: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    line-height: 56px;
    font-family: Helvetica,Arial,sans-serif;
    margin: 8px 12px;
    top: 0;
    left: 0;
    color: rgb(255,255,255);
    z-index: 4;
}
.demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 20px;
    margin-left: -15px;
}

</style> -->
  <nav class="demo-navigation mdl-navigation">
    <a style="text-align: center; font-size: 40px;height: 50px;margin-top: 10px; color: rgb(255, 255, 0);">CMMS</a>
    <a id="linkhome" class="mdl-navigation__link" href="/home"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation" style="color: rgb(255, 255, 0)!important;">home</i>TRANG CHỦ</a>
    <a id="linkwork" class="mdl-navigation__link" href="/work"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation" style="color: rgb(255, 255, 0)!important;">assignment</i>CÔNG VIỆC</a>
    <a id="linkwo" class="mdl-navigation__link " href="/wo"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation" style="color: rgb(255, 255, 0)!important;">work_outline</i>YÊU CẦU</a>
    <a id="linksche" class="mdl-navigation__link" href="/schedule"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation" style="color: rgb(255, 255, 0)!important;">schedule</i>BẢO TRÌ</a>
    <a id="linkmachine"class="mdl-navigation__link" href="/machine"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation" style="color: rgb(255, 255, 0)!important;">list</i>QUẢN LÝ TÀI SẢN</a>
    <a id="linkissue" class="mdl-navigation__link" href="/issue"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation" style="color: rgb(255, 255, 0)!important;">assignment_returned</i>YÊU CẦU CẤP PHÁT</a>
    <a id="linkspare" class="mdl-navigation__link" href="/spare"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation" style="color: rgb(255, 255, 0)!important;">list</i>QUẢN LÝ TỒN KHO</a>
    <a id="linkstaff" class="mdl-navigation__link " href="/staff"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation" style="color: rgb(255, 255, 0)!important;">account_box</i>QUẢN LÝ NHÂN SỰ</a>