<!DOCTYPE html>
<html>
<title>ECF submittion</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-content" style="max-width:1920px; max-height: 1080px;" onload="load_ecf_data()">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-purple w3-animate-left" style="z-index:3;width:200px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="./public/logo/hbilogo.png" style="width:45%;" class="w3-round"><br><br>
    <p class="w3-text-white">Design by innovation</p>
  </div>
  <div class="w3-bar-block w3-text-white">
    <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-blue"><i class="fa fa-th-large fa-fw w3-margin-right"></i>MAIN PAGE</a> 
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a> 
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
  </div>
  <!-- <div class="w3-panel w3-large w3-text-white">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div> -->
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div id="main-page" class="w3-main" style="margin-left:200px">

  <!-- Header -->
  <header id="portfolio" class="w3-purple">
    <a href="#"><img src="./public/logo/hbilogo.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
        <div class="w3-row">
          <div class="w3-col" style="width:70%">
            <h2 class="w3-text-white"><b>ECF Web Application</b></h2>
          </div>
          <div class="w3-col" style="width:30%">
            <p class="w3-right w3-dropdown-hover w3-purple" style=" padding-right: 30px;"><i style="font-size: 20px; padding-top: 15px;" class="fa fa-user-circle w3-margin-right"></i><b><span style="font-size: 18px;" id="user"><%=user %></span></b>
              <span class="w3-dropdown-content" style="padding-top: 5px; padding-bottom: 5px; padding-left: 5px;"><%=note %></span>
            </p>
          </div>
        </div>
        <div class="w3-section w3-bottombar w3-padding-16">
        <span class="w3-margin-right w3-text-white">Filter:</span> 
        <button class="w3-button w3-black">ALL</button>
        <button class="w3-button w3-white"><i class="fa fa-id-badge w3-margin-right"></i>By Dept</button>
        <button class="w3-button w3-white w3-hide-small"><i class="fa fa-calendar w3-margin-right"></i>By Month</button>
        <button class="w3-button w3-white w3-hide-small" onclick="add_ecf_form()"><i class="fa fa-plus-square w3-margin-right"></i>thêm mới</button>
        </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-bottombar">

    <div class="w3-row"  style="height: 100%-300px; background-color: rgb(255, 255, 255); margin-top: 3px; border: solid 1px rgb(255, 255, 255) ;" >
      <div  style="height: 360px; background-color: rgb(255, 255, 255); margin-top: 3px; border: solid 1px rgb(255, 255, 255) ;" >           
        <style>
          #tablea {
              margin-top: 0px !important;
              font-family: Arial, Helvetica, sans-serif;
              border-collapse: collapse;
              border-radius: 15px;
              /* border: 1px solid #ffffff; */
              overflow: scroll !important;
          }
          
          #tablea td {
              text-align: center !important;
              /* border: 1px solid #3a3a3a; */
              height: 20px !important;
              border: 1px solid #ddd;
          }
          
          #tablea th {
              border: 1px solid #ddd;
              padding: 8px;
              border: 1px solid #ffffff;
              height: 45px !important;
              min-width: 80px;

          }
          
          #tablea tr:nth-child(even) {
              background-color: #f2f2f2;
          }
          
          #tablea tr:hover {
              background-color: #ddd;
          }

          #tablea th {
              height: 320px;
              padding-top: 12px;
              padding-bottom: 12px;
              text-align: center;
              background-color: #7c4abe;
              color: white;
          }
          .tableFixHead {
              overflow-y: auto;
              height: 320px;
          }
          .tableFixHead thead:not([scope=row]) {
              position: sticky;
              top: 0;
          }
          #tablea {
              border-collapse: collapse;
              width: 100%;
          }
        </style>  
        <div class="tableFixHead">
          <div class="page-content" style=" margin-top: 0px;">
            <div class="loader" id="load" style="display: none; margin: auto;margin-top: 0px;"></div>
              <table id="tablea" style="width:98%; margin: auto;"  onclick="detail_ticket()">
                <thead>
                  <tr>                      
                    <th style="text-align: center;">IDNV</th>
                    <th style="text-align: center;" >Tên</th>
                    <th style="text-align: center;">Từ BP</th> 
                    <th style="text-align: center;">Sang BP</th> 
                    <th style="text-align: center;" >Loại chuyển đổi</th>
                    <th style="text-align: center;">Req</th>
                    <th style="text-align: center;" >HR MGR</th>
                    <th style="display: none;" >time_HR</th>
                    <th style="text-align: center;" >DEPT MGR</th>  
                    <th style="display: none;" >time_dept</th>   
                    <th style="text-align: center;" >PLANT MGR</th>   
                    <th style="display: none;" >time_mgr</th>                                      
                  </tr>                        
                  </thead>
                  <tbody>
                  </tbody>
                </thead>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <!-- Footer -->
  <!-- <footer class="w3-container w3-padding-32 w3-dark-grey">
  </footer> -->
  
  <div class="w3-black w3-center w3-padding-24">Powered by <a href="#" title="Digitalization Team" target="_blank" class="w3-hover-opacity">innovation Phubai</a></div>
<!-- End page content -->
      <!-- modal review chi tiết ECF-->
      <div style="margin-top: 0px;" id="id02" class="w3-modal">
          <div style="width: 90%px; height: 920px ; border: solid 3px blueviolet;" class="w3-modal-content">
            <div class="w3-container" >
              <div class="w3-row modal-header">
                <h5 class="modal-title" style="color: #7c4abe ; font-weight: bold; font-size: 18px!important;" id="approve_info">thông tin phê duyệt <span id="type_change"></span></h5>
              </div>
              <div id="blockupda"class="w3-row" style="padding-left: 120px;">
                <div class="w3-col" style="width: 33%; margin: auto !important; display: block;">
                  <p style="margin-bottom: 0px;"><b>HR. Manager</b><br> Trần Thị Như Liên <br><spand id="hr_time"> 2021-12-01</spand></p>
                  <select id="HR_sel" style="width: 120px; margin: auto!important; padding-bottom: 5px;" disabled>
                    <option>---</option>
                    <option >Approved</option>
                    <option >Rejected</option>
                  </select>
                  <br>
                  <button class="btn btn-primary" id="btcopy" style="margin-top: 3px;" disabled><i class="fa fa-paper-plane" style=" padding-right: 10px;"></i>HR Submit</button>
                </div>
                <div class="w3-col" style="width: 33%;">
                  <p style="margin-bottom: 0px;"><b>Dept. Manager</b><br> Lê Tân <br><spand id="dept_time">2021-12-01</spand></p>
                  <select id="dept_sel" style="width: 120px; margin: auto!important; padding-bottom: 5px;" disabled>
                    <option>---</option>
                    <option >Approved</option>
                    <option >Rejected</option>
                  </select>
                  <br>
                  <button class="btn btn-primary" id="btcopy" style="margin-top: 3px;" disabled><i class="fa fa-paper-plane" style=" padding-right: 10px;"></i>Dept. Submit</button>
            
                </div>
                <div class="w3-col" style="width: 33%;">
                  <p style="margin-bottom: 0px;"><b>PLANT. Manager</b><br> Phan Quốc Tuấn <br><spand id="mgr_time">2021-12-01</spand></p>
                  <select id="mgr_sel" style="width: 120px; margin: auto!important; padding-bottom: 5px;" disabled>
                    <option>---</option>
                    <option >Approved</option>
                    <option >Rejected</option>
                  </select>
                  <br>
                  <button disabled class="btn btn-primary" id="btcopy" style="margin-top: 3px;"><i class="fa fa-paper-plane" style=" padding-right: 10px;"></i>Mgr. Submit</button>
                </div>
              </div>   
          </div>
              <div class="w3-container">
                  <span style="font-size: 25px;margin-right: 5px;" onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                  <div class="modal-header">
                      <h5 class="modal-title" style="color: #7c4abe ; font-weight: bold; font-size: 15px!important;" id="namebox">Chi tiết: Employee Change Form</h5>
                  </div>
                  <fieldset style="margin-top: 20px;align-content: center; width: 98%; height: 640px;" class="col-auto">
                    <legend style="font-size: 15px!important;">file: <spand id="ecf_name">ecf_doc_file</spand></legend>
                    <div style="width: 98%; height: 580px; overflow-y: scroll;">
                      <img id="img_ecf" style="display: block; width: 90%; overflow-y: scroll; margin-left: auto !important; margin-right: auto !important;" src="./public/img_ecf/ECF-123321-20211214.jpg">
                    </div>
                  </fieldset>
              </div>
          </div>
      </div>

      <!-- form submit ecf -->
      <div id="submit_ecf_form" class="w3-modal">
        <div style="width: 1000px; height: 440px ;border: solid 3px blueviolet;" class="w3-modal-content" >
          <div style="width: 100%; height: 100%;" class="w3-row">
              <span style="font-size: 25px;margin-right: 5px;" onclick="document.getElementById('submit_ecf_form').style.display='none'" class="w3-button w3-display-topright" style="font-size: 35px; margin-top: 10px;margin-right: 10px;">&times;</span>
              <div class="w3-row w3-bottombar">
                <h5 class="modal-title" style="color: #7c4abe ; font-weight: bold; padding-left: 20px; padding-top: 15px; padding-bottom: 15px;">submit ECF form</h5>
              </div>
            <!-- <div style="margin:auto ;width: 1000px; height: 100px; margin-top: 100px;" class="demo-card-square mdl-card mdl-shadow--2dp"> -->
              <div class="w3-row">
                  <form class="form-horizontal" style="margin:auto ;width: 900px; " action="ecf/Upload_New_ecf" id="upload_form_ecf" method="POST" enctype="multipart/form-data">
                      <div class="w3-row w3-bottombar" style="padding-left: 15px; padding-top: 15px; padding-bottom: 15px;">
                          <label for="file">chọn file tải lên (*.doc, *.docx)</label><br>
                          <input class="form-control" style="height: auto;" type="file" name="file" id='file_ecf'>
                      </div>
                      <div class="w3-row w3-bottombar" style="padding-left: 15px; padding-top: 15px; padding-bottom: 15px;">
                        <h5 class="modal-title" style="color: #7c4abe ; font-weight: bold;">Thông tin cơ bản:</h5>
                        <div class="w3-row" style="padding-top: 10px;">
                          <div class="w3-col" style="width: 50%; padding-right: 15px;">
                            <label for="">IDNV: </label>
                            <input style="height: auto;" type="number" class="form-control" name="idnv_ecf" id='idnv_ecf' onkeypress="check_name()">
                          </div>
                          <div class="w3-col" style="width: 50%; padding-right: 15px;">
                            <label for="">Tên Nhân viên: </label>
                            <input style="height: auto;" type="text" class="form-control" name="nv_ecf" id='nv_ecf' disabled>
                          </div>
                        </div>
                        <div class="w3-row" style="padding-top: 10px;">
                          <div class="w3-col" style="width: 30%; padding-right: 15px;">
                            <label for="">từ bộ phận: </label>
                            <select name="dept1_sel" id="dept1_sel" class="form-control" disabled>
                              <option >--</option>
                              <option >CPL</option>
                              <option >CT</option>
                              <option >F&M</option>
                              <option >FI</option>
                              <option >HR</option>
                              <option >IE</option>
                              <option >IECT</option>
                              <option >IT</option>
                              <option >LOG</option>
                              <option >LP</option>
                              <option >MEC</option>
                              <option >PL</option>
                              <option >PR</option>
                              <option >QA</option>
                            </select>
                          </div>
                          <div class="w3-col" style="width: 30%; padding-right: 15px;">
                            <label for="">chuyển sang bộ phận: </label>
                            <select name="dept2_sel" id="dept2_sel" class="form-control">
                              <option >--</option>
                              <option >CPL</option>
                              <option >CT</option>
                              <option >F&M</option>
                              <option >FI</option>
                              <option >HR</option>
                              <option >IE</option>
                              <option >IECT</option>
                              <option >IT</option>
                              <option >LOG</option>
                              <option >LP</option>
                              <option >MEC</option>
                              <option >PL</option>
                              <option >PR</option>
                              <option >QA</option>
                            </select>
                          </div>
                          <div class="w3-col" style="width: 40%; padding-right: 15px;">
                            <label for="">Loại chuyển đổi: </label>
                            <select name="type_sel" id="type_sel" class="form-control">
                              <option >--</option>
                              <option >Chuyển bộ phận</option>
                              <option >Chuyển vị trí</option>
                              <option >Giảm lương - thuyên chuyển</option>
                              <option >Tăng lương - thuyên chuyển</option>
                              <option >Nhân viên mới</option>
                              <option >...</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="w3-row w3-bottombar" style="padding-left: 15px; padding-top: 15px; padding-bottom: 15px;">
                        <button  id='submit' type="button" value="0" class="btn btn-primary" onclick="check_submit_form()">Tải thông tin lên</button> 
                        <button id='submit_hide' type="submit" value="submit" style="display: none;">ok</button>
                      </div>

                                            
                  </form>
            <!-- </div> -->
                  <div class="loader" id="load_ecf" style="display: none; margin: auto;margin-top: 100px;"></div>
              </div>
          </div>
        </div>
      </div>

</div>

<script type="text/javascript">
// Script to open and close sidebar

function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

function load_ecf_data(){
        var user="admin"
        var xhttp = new XMLHttpRequest();
        //event.preventDefault(); //prevent default action 
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
                var res_result=this.responseText
                if (res_result=="false"){
                  alert('something wrong, please contact admin')
                } 
                else{
                  ls=JSON.parse(res_result)
                  console.log(ls)
                    if (ls.length>0){
                      var ttdt=""
                      for (i=0;i<ls.length;i++){
                          var ap1=""
                          var ap2=""
                          var ap3=""
                          var t1="_"
                          var t2="_"
                          var t3="_"
                          if (ls[i].HR_timeupdate!=null){
                            console.log(ls[i].HR_timeupdate)
                            let date_ob = new Date(ls[i].HR_timeupdate);
                            let date = date_ob.getDate();
                            let month = date_ob.getMonth() + 1;
                            let year = date_ob.getFullYear();
                            t1=year+"-"+ month+"-" + date
                            console.log(t1)
                          }
                          if (ls[i].dept_timeupdate!=null){
                            let date_ob = new Date(ls[i].HR_timeupdate);
                            let date = date_ob.getDate();
                            let month = date_ob.getMonth() + 1;
                            let year = date_ob.getFullYear();
                            t2=year+"-"+ month+"-" + date
                          }
                          if (ls[i].mgr_timeupdate!=null){
                            let date_ob = new Date(ls[i].HR_timeupdate);
                            let date = date_ob.getDate();
                            let month = date_ob.getMonth() + 1;
                            let year = date_ob.getFullYear();
                            t3=year+"-"+ month+"-" + date
                          }
                          if (ls[i].HR_approval == null){
                            ap1="---"
                          } else{
                            ap1=ls[i].HR_approval
                          }
                          if (ls[i].dept_approval == null){
                            ap2="---"
                          } else{
                            ap2=ls[i].dept_approval
                          }
                          if (ls[i].mgr_approval == null){
                            ap3="---"
                          } else{
                            ap3=ls[i].mgr_approval
                          }
                          ttdt+='<tr><td >'+ ls[i].key_ecf + '</td><td >' +  ls[i].name + '</td><td >'+ ls[i].from_dept + '</td><td >' + ls[i].to_dept 
                          ttdt+='</td><td >'+ ls[i].type_submit +'</td><td>' + ls[i].user_submit + '</td><td >'+  ap1 + '</td><td style="display: none;">'+t1+'</td><td >'+  ap2 
                          ttdt+= '</td><td style="display: none;">'+t2+'</td><td >' +  ap3 + '</td><td style="display: none;">'+t3+'</td></tr>';
                      }
                      $('#tablea tbody').html(ttdt)

                    }
                  }
            }
            
          };

          xhttp.open("post", '/ecf/load_ecf_data', true);
          // var id= document.getElementById("idreq").value;
          // send data jason
          xhttp.setRequestHeader("Content-type", "application/json");
          data_send = {
              // timereq: timereq,
              username: user
              // id:id
          };
          xhttp.send(JSON.stringify(data_send));
      }

function tableText(tableRow){
  document.getElementById("img_ecf").src='./public/img_ecf/ECF-'+tableRow.childNodes[0].innerText+'.jpg';
  document.getElementById("ecf_name").innerText=tableRow.childNodes[0].innerText+'.doc'
  document.getElementById("hr_time").innerText=tableRow.childNodes[7].innerText
  document.getElementById("type_change").innerText= ": ECF - " + tableRow.childNodes[4].innerText
  document.getElementById("dept_time").innerText=tableRow.childNodes[9].innerText
  document.getElementById("mgr_time").innerText=tableRow.childNodes[11].innerText
  document.getElementById("HR_sel").value=tableRow.childNodes[6].innerText
  document.getElementById("dept_sel").value=tableRow.childNodes[8].innerText
  document.getElementById("mgr_sel").value=tableRow.childNodes[10].innerText
  document.getElementById('submit_ecf_form').style.display = 'none'; 
  document.getElementById('id02').style.display = 'block';    
  document.getElementById('blockupda').style.display = 'block';   
}

function detail_ticket() {
  var table = document.getElementById("tablea");
  // document.getElementById('blockedit').style.display = 'block';
  // document.getElementById('blockadd').style.display = 'none';
  event.stopImmediatePropagation;
  if (table) {
    for (var i = 1; i < table.rows.length; i++) {
      table.rows[i].ondblclick = function(e) {
        tableText(this);
        }
    }
  }
}     
 
function add_ecf_form(){
        document.getElementById('id02').style.display = 'none'; 
        document.getElementById('submit_ecf_form').style.display = 'block'; 
      }
     
function check_name(){
  var msnv=document.getElementById("idnv_ecf").value
  if (msnv.length>=6 && event.keyCode === 13){
          event.preventDefault(); //prevent default action 
          alert("check nv")
          var xmlhttp = new XMLHttpRequest();
          xmlhttp.open("post", '/ecf/idnv', true);
          xmlhttp.setRequestHeader("Content-type", "application/json");
          data = {
              idnv : msnv      
          };
          xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              var data = this.responseText;
              if (data == "false") {
                  alert("Mã nhân viên không có trong emplist");
              } else {
                  
              }
                var jsonObject = JSON.parse(this.responseText);
                var ten_nv=jsonObject[0].name;
                var bophan=jsonObject[0].dept;
                document.getElementById("nv_ecf").value=ten_nv;
                document.getElementById("dept1_sel").value=bophan;

              }
          }
          xmlhttp.send(JSON.stringify(data));
      }
}

function check_submit_form(){

        var fi=document.getElementById("file_ecf").value;
        console.log(fi)
        if (fi.indexOf(".doc")>-1){
          var msnv=document.getElementById("idnv_ecf").value;
          if (msnv.length!=6){
            alert("vui lòng kiểm tra lại mã số nhân viên");
            return
          }
          var ten=document.getElementById("nv_ecf").value
          if (ten==""){
            alert("vui lòng nhập ID 6 số và nhấn enter để kiểm tra nhân viên");
            return
          }
          var type_change=document.getElementById("type_sel").value;
          if (dept2=="--"){
            alert("vui lòng chọn loại thay đổi");
            return
          }
          var dept2=document.getElementById("dept2_sel").value
          if (dept2=="--"){
            alert("vui lòng chọn bộ phận chuyển đến");
            return
          }
          // đủ điều kiện submit form
          document.getElementById("nv_ecf").disabled=false;
          document.getElementById("dept1_sel").disabled=false;
          var form = document.getElementById('upload_form_ecf');
          let formData = new FormData(form);
          if (fi!= "") {
            event.preventDefault();
            var xsend = new XMLHttpRequest();
            xsend.open('POST', '/ecf/Upload_New_ecf', true);
            xsend.send(formData);
            xsend.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                var abc=this.responseText
                if (abc=="finish"){
                  let ts = Date.now();

                  let date_ob = new Date(ts);
                  let date = date_ob.getDate();
                  let month = date_ob.getMonth() + 1;
                  let year = date_ob.getFullYear();
                  var dsubmit=year+"-"+ month+"-" + date
                  // prints date & time in YYYY-MM-DD format
                  console.log(dsubmit);
                  document.getElementById("img_ecf").src='./public/img_ecf/ECF-'+msnv+"_"+dsubmit+'.jpg'
                  alert("information have been submited")
                  load_ecf_data();
                  document.getElementById('submit_ecf_form').style.display='none';
                }
                else{
                  alert("submit informaiton wrong! please contact admin")
                }
              }
            }
          }

        }else{
          alert("vui lòng chọn file word (*.doc) để load lên")
          return
        }
}



      

</script>

</body>
</html>
