<!DOCTYPE html>
<html>
<title>XP services</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
nav {
  background-image: none;
  background-image: none,none, url("./public/img_xp/bg1.jpg");
}
header {
  background-image: none;
  background-image: none,none, url("./public/img_xp/bg1.jpg");
}
</style>
<body class="w3-content" style="max-width:1600px" onload="load_ecf_data()">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="./public/img_xp/XPAD.png" style="width:45%;" class="w3-round"><br><br>
    <h4 class="w3-text-white"><b>Cloud Services</b></h4>
    <p class="w3-text-white">Design by xpservice</p>
  </div>
  <div class="w3-bar-block w3-text-white">
    <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a> 
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a> 
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
  </div>
  <div class="w3-panel w3-large w3-text-white">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div id="main-page" class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="./public/img_xp/XPAD.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
        <h1 class="w3-text-white"><b>Machine online monitoring</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16">
        <span class="w3-margin-right w3-text-white">Filter:</span> 
        <button class="w3-button w3-black">ALL</button>
        <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
        <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
        <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button>
        </div>
     </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-bottombar">

    <div class="w3-row"  style="height: 280px; background-color: rgb(255, 255, 255); margin-top: 3px; border: solid 1px rgb(255, 255, 255) ;" >
        <div class="w3-col" style="width: 30%; border: #37474F;"> 
          <div class="w3-row" style="padding-top: 15px; padding-bottom: 15px; padding-left: 15px; background-color: #c2cdda; margin: auto;">
            <strong style="color: rgb(19, 111, 231); font-size: 25px;">Temperature sensor</strong>
          </div>  
          <div class="w3-row">  
            <div class="w3-row w3-hover-blue  w3-blue-grey w3-leftbar w3-border-blue">
              <i class="fa fa-thermometer" style="padding-left: 10px; padding-right: 10px;"></i>Temperature 1 value: <span id="t1_value">21</span>
            </div>     
            <div class="w3-row w3-hover-blue  w3-blue-grey w3-leftbar w3-border-blue">
              <i class="fa fa-thermometer" style="padding-left: 10px; padding-right: 10px;"></i>Temperature 2 value: <span id="t2_value">22</span>
            </div> 
            <div class="w3-row w3-hover-blue  w3-blue-grey w3-leftbar w3-border-blue">
              <i class="fa fa-thermometer" style="padding-left: 10px; padding-right: 10px;"></i>Temperature 3 value: <span id="t3_value">23</span>
            </div> 
            <div class="w3-row w3-hover-blue  w3-blue-grey w3-leftbar w3-border-blue">
              <i class="fa fa-thermometer" style="padding-left: 10px; padding-right: 10px;"></i>Temperature 4 value: <span id="t4_value">24</span>
            </div> 
            <div class="w3-row w3-hover-blue  w3-blue-grey w3-leftbar w3-border-blue">
              <i class="fa fa-thermometer" style="padding-left: 10px; padding-right: 10px;"></i>Temperature 5 value: <span id="t5_value">25</span>
            </div> 
            <div class="w3-row w3-hover-blue  w3-blue-grey w3-leftbar w3-border-blue">
              <i class="fa fa-thermometer" style="padding-left: 10px; padding-right: 10px;"></i>Temperature 6 value: <span id="t6_value">26</span>
            </div> 
          </div>

        </div>   
        <div class="w3-col" style="width: 40%;">
          <div style="height: 270px;">
            <img id="img_xp" style="display: block; width: 70%; height: 270px; margin-left: auto !important; margin-right: auto !important;" src="./public/img_xp/scada.gif">
          </div>
        </div>
        <div class="w3-col" style="width: 30%;">
          <div class="w3-row" style="padding-top: 15px; padding-bottom: 15px; padding-left: 15px; background-color: #c2cdda; margin: auto;">
            <strong style="color: rgb(19, 111, 231); font-size: 25px;">Air-pressure sensor</strong>
          </div>  
          <div class="w3-row" style="margin-bottom: 10px;">  
            <div class="w3-row w3-hover-blue w3-blue-grey w3-leftbar w3-border-blue">
              <i class="fa fa-bar-chart" style="padding-left: 10px; padding-right: 10px;"></i>Pressure 1 value: <span id="p1_value">1.0</span>
            </div>     
            <div class="w3-row w3-hover-blue w3-blue-grey w3-leftbar w3-border-blue">
              <i class="fa fa-bar-chart" style="padding-left: 10px; padding-right: 10px;"></i>Pressuer 2 value: <span id="p2_value">2.0</span>
            </div> 
          </div>
          <div class="w3-row" style="padding-top: 15px; padding-bottom: 15px; padding-left: 15px; background-color: #c2cdda; margin: auto;">
            <strong style="color: rgb(19, 111, 231); font-size: 25px;">Motor status</strong>
          </div>  
          <div class="w3-row">  
            <div class="w3-row w3-hover-blue w3-green w3-leftbar w3-border-blue">
              <i class="fa fa-bullseye" style="padding-left: 10px; padding-right: 10px;"></i>Motor 1: <span id="m1_value">ON</span>
            </div>     
            <div class="w3-row w3-hover-blue w3-blue-grey w3-leftbar w3-border-blue">
              <i class="fa fa-bullseye" style="padding-left: 10px; padding-right: 10px;"></i>Motor 2: <span id="M2_value">OFF</span>
            </div> 
          </div>
          
        </div>        
      </div>




  </div>
  
  <!-- Second Grid-->
  <div class="w3-row-padding w3-bottombar">
                <!-- hien thi thong tin logs -->
                
                    <div class="w3-row">
                      <h3 style="padding-left: 15px;">Machine health logs:</h3>
                    </div>    
                    <div class="w3-row">
                      <div class="w3-col" style="width:70%">
                        <style>
                          #tablea {
                              font-family: Arial, Helvetica, sans-serif;
                              border-collapse: collapse;
                              border-radius: 15px;
                              /* border: 1px solid #ffffff; */
                              overflow: scroll !important;
                          }
                          
                          #tablea td {
                              text-align: center !important;
                              /* border: 1px solid #3a3a3a; */
                              height: 10px !important;
                              border: 1px solid #ddd;
                          }
                          
                          #tablea th {
                              margin-top: 0px;
                              border: 1px solid #ddd;
                              padding: 8px;
                              border: 1px solid #ffffff;
                              height: 15px !important;
                          }
                          
                          #tablea tr:nth-child(even) {
                              background-color: #f2f2f2;
                          }
                          
                          #tablea tr:hover {
                              background-color: #ddd;
                          }
            
                          #tablea th {
                              padding-top: 3px;
                              padding-bottom: 3px;
                              text-align: center;
                              background-color: #0099ff;
                              color: white;
                          }
                          #tablea {
                              border-collapse: collapse;
                              width: 100%;
                          }
                        </style>  
                        <div style="height: 400px; overflow-y: scroll;">
                                <table id="tablea" style="width:98%; margin: auto;">
                                  <thead>
                                    <tr>                      
                                      <th style="text-align: center;">Time update</th>
                                      <th style="text-align: center;">T1</th>
                                      <th style="text-align: center;">T2</th> 
                                      <th style="text-align: center;">T3</th>
                                      <th style="text-align: center;">T4</th> 
                                      <th style="text-align: center;">T5</th> 
                                      <th style="text-align: center;">T6</th> 
                                      <th style="text-align: center;">P1</th>                                       
                                      <th style="text-align: center;">P2</th> 
                                      <th style="text-align: center;">M1</th>
                                      <th style="text-align: center;">M2</th>
                                      <th style="text-align: center;">Status</th>
                                    </tr>                        
                                    </thead>
                                    <tbody>
                                    </tbody>
                                  </thead>
                                </table>
                        </div>
                      </div>
                      <div class="w3-col" style="width:30%">
                        <h3>Performance chart</h3>
                        <img id="img_c" style="display: block; width: 90%; margin-left: auto !important; margin-right: auto !important;" src="./public/img_xp/chart.jpg">
                      </div>
                    </div>     
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-large w3-blue">
    <h4 id="contact"><b>Contact Me</b></h4>
    <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
        <p>email@email.com</p>
      </div>
      <div class="w3-third w3-teal">
        <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
        <p>Vietnam</p>
      </div>
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
        <p>512312311</p>
      </div>
    </div>
    <hr class="w3-opacity">
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Send Message</button>
    </form>
  </div>

  <!-- Footer -->
  <!-- <footer class="w3-container w3-padding-32 w3-dark-grey">
  </footer> -->
  
  <div class="w3-black w3-center w3-padding-24">Powered by <a href="#" title="xpservice" target="_blank" class="w3-hover-opacity">xpservice.net</a></div>

<!-- End page content -->
</div>

<script type="text/javascript">
// Script to open and close sidebar
setInterval(load_ecf_data, 5000);


function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

function load_ecf_data(){
        var user="admin"
        var xhttp = new XMLHttpRequest();
        //event.preventDefault(); //prevent default action 
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
                var res_result=this.responseText
                if (res_result=="false"){
                  alert('something wrong, please contact admin')
                } 
                else{
                  ls=JSON.parse(res_result)
                  console.log(ls)
                    if (ls.length>0){
                      var ttdt=""
                      for (i=0;i<ls.length;i++){
                          var tu="---"
                          console.log(ls[i].HR_timeupdate)
                          let date_ob = new Date(ls[i].timeupdate);
                          let date = date_ob.getDate();
                          let month = date_ob.getMonth() + 1;
                          let year = date_ob.getFullYear();
                          // current hours
                          let hours = date_ob.getHours();
                          // current minutes
                          let minutes = date_ob.getMinutes();
                          // current seconds
                          let seconds = date_ob.getSeconds();
                          tu=year+"-"+ month+"-" + date+" "+hours+":"+minutes+":"+seconds
                          console.log(tu)
                          ttdt+='<tr><td >'+ tu + '</td><td >' +  ls[i].v1 + '</td><td >'+ ls[i].v2 + '</td><td >' + ls[i].v3
                          ttdt+='</td><td >'+ls[i].v4+'</td><td>' + ls[i].v5 + '</td><td >'+  ls[i].v6 + '</td><td>'+ls[i].v8+'</td><td >'+  ls[i].v9 
                          ttdt+= '</td><td>'+ls[i].v10+'</td><td >' +  ls[i].v11 + '</td><td>Good</td></tr>';
                      }
                      $('#tablea tbody').html(ttdt)
                      document.getElementById("t1_value").innerText=ls[0].v1;
                      document.getElementById("t2_value").innerText=ls[0].v2;
                      document.getElementById("t3_value").innerText=ls[0].v3;
                      document.getElementById("t4_value").innerText=ls[0].v4;
                      document.getElementById("t5_value").innerText=ls[0].v5;
                      document.getElementById("t6_value").innerText=ls[0].v6;
                      document.getElementById("p1_value").innerText=ls[0].v8;
                      document.getElementById("p2_value").innerText=ls[0].v9;
                      document.getElementById("m1_value").innerText=ls[0].v10;
                      document.getElementById("m2_value").innerText=ls[0].v11;

                    }
                  }
            }
            
          };

          xhttp.open("post", 'https://xpservice.net/temp_mc/temp1_value', true);
          // var id= document.getElementById("idreq").value;
          // send data jason
          xhttp.setRequestHeader("Content-type", "application/json");
          data_send = {
              // timereq: timereq,
              username: user
              // id:id
          };
          xhttp.send(JSON.stringify(data_send));
      }


</script>

</body>
</html>
